/* Colori ufficiali:
	azzurro: #0088FF
	azzurro pallido: #C2DEF0
	blu acquamarina: #003399
	e poi ovviamente il bianco.
*/

body, #content {
	background-color: #FFFFFF;
	font-family: "Gill Sans", "Gill Sans MT", "Lucida Grande", LucidaGrande, Lucida, "BitStream Vera Sans", Verdana, Helvetica, Arial, sans-serif;
}

a {
	color: #003399;
}

h3 a {
	color: #003399;
	text-decoration: none;
}

p, span {
	color:  #0088FF;
}

#preheader p {
	color: #C2DEF0;
	text-align: right;
	font-size: 15px;
}

#preheader a {
	color: #0088FF;
}

#catcheye p {
	font-size: 20px;
}

em {
	color: #003399;
	font-style: normal;
}

#blogBarHeader {
	background-color: #C2DEF0;
}

#blogBarHeader h2 {
	color: #003399;
	font-size: 15px;
	font-weight: normal;
}

.blogPost h3 {
	font-size: 22px;
	font-weight: normal;
	color: #003399;
}

.blogPost * {
	font-size: 14px;
	color: #000000;
}

.blogPost a {
	color: #003399;
	text-decoration: none;
	border-bottom: 1px solid #0088FF;
}

.blogPost {
	border-bottom: 1px solid #C2DEF0;
}

hr {
	display: none;
}

img {
	border: 0px;
}

a {
	border: 0px;
}

/* Posizionamento */

#content {
	width: 780px;
	margin: 0px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 10px;
	padding-right: 20px;
}

#screenshotBar img {
	float: left;
}

#screenshotBar #catcheye {
	float: right;
	width: 250px;
}

#downloadAndBlogBar {
	clear: both;
}

#download {
	color: #0088FF;
}

#download ul {
	width: 180px;
	margin-left: 200px;
}

#download li {
	font-size: 12px;
	margin-bottom: 4px;
}

#download {
	float: left;
	background-image: url(Images/cloudsBelow.gif);
	background-repeat: no-repeat;
	height: 620px;
}

#blogBar {
	width: 300px;
	float: right;
}

#blogBarHeader {
	height: 1.2em;
	padding: 5px;
}

#blogBarHeader #flags {
	float: right;
	display: inline;
}

#blogBarHeader h2 {
	float: left;
	margin: 2px 0 0 0;
}

.clearer {
	clear: both;
}