<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>files</key>
	<array>
		<dict>
			<key>changeDone</key>
			<false/>
			<key>class</key>
			<string>BLNibFileObject</string>
			<key>flags</key>
			<integer>1</integer>
			<key>name</key>
			<string>AfloatPrefPane.nib</string>
			<key>objects</key>
			<array>
				<dict>
					<key>changeDone</key>
					<false/>
					<key>changed values</key>
					<array/>
					<key>class</key>
					<string>BLStringKeyObject</string>
					<key>comment</key>
					<string>NSTextField (An older version of Afloat was found. This version will not be able to work until the older version is removed.) : &lt;title:An older version of Afloat was found. This version will not be able to work until the older version is removed.&gt; (oid:11)</string>
					<key>flags</key>
					<integer>0</integer>
					<key>key</key>
					<string>An older version of Afloat was found. This version will not be able to work until the older version is removed.</string>
					<key>localizations</key>
					<dict>
						<key>English</key>
						<string>An older version of Afloat was found. This version will not be able to work until the older version is removed.</string>
						<key>it</key>
						<string>È presente una versione precedente di Afloat. È necessario rimuoverla perché questa funzioni.</string>
					</dict>
				</dict>
				<dict>
					<key>changeDone</key>
					<false/>
					<key>changed values</key>
					<array/>
					<key>class</key>
					<string>BLStringKeyObject</string>
					<key>comment</key>
					<string>NSButton (Enable Afloat) : &lt;title:Enable Afloat&gt; (oid:10)</string>
					<key>flags</key>
					<integer>0</integer>
					<key>key</key>
					<string>Enable Afloat</string>
					<key>localizations</key>
					<dict>
						<key>English</key>
						<string>Enable Afloat</string>
						<key>it</key>
						<string>Attiva Afloat</string>
					</dict>
				</dict>
				<dict>
					<key>changeDone</key>
					<false/>
					<key>changed values</key>
					<array/>
					<key>class</key>
					<string>BLStringKeyObject</string>
					<key>comment</key>
					<string>NSTextField (Enabling Afloat will only take effect for any applications you launch (or relaunch) after enabling it.) : &lt;title:Enabling Afloat will only take effect for any applications you launch (or relaunch) after enabling it.&gt; (oid:13)</string>
					<key>flags</key>
					<integer>0</integer>
					<key>key</key>
					<string>Enabling Afloat will only take effect for any applications you launch (or relaunch) after enabling it.</string>
					<key>localizations</key>
					<dict>
						<key>English</key>
						<string>Enabling Afloat will only take effect for any applications you launch (or relaunch) after enabling it.</string>
						<key>it</key>
						<string>Solo le applicazioni aperte (o riaperte) dopo l'attivazione saranno modificate da Afloat.</string>
					</dict>
				</dict>
				<dict>
					<key>changeDone</key>
					<false/>
					<key>changed values</key>
					<array/>
					<key>class</key>
					<string>BLStringKeyObject</string>
					<key>comment</key>
					<string>NSButton (Remove Older Version…) : &lt;title:Remove Older Version…&gt; (oid:12)</string>
					<key>flags</key>
					<integer>0</integer>
					<key>key</key>
					<string>Remove Older Version…</string>
					<key>localizations</key>
					<dict>
						<key>English</key>
						<string>Remove Older Version…</string>
						<key>it</key>
						<string>Rimuovi Precedente…</string>
					</dict>
				</dict>
				<dict>
					<key>changeDone</key>
					<false/>
					<key>changed values</key>
					<array/>
					<key>class</key>
					<string>BLStringKeyObject</string>
					<key>comment</key>
					<string>NSButton (Agree) : &lt;title:Agree&gt; (oid:29)</string>
					<key>flags</key>
					<integer>0</integer>
					<key>key</key>
					<string>Agree</string>
					<key>localizations</key>
					<dict>
						<key>English</key>
						<string>Agree</string>
						<key>it</key>
						<string>Accetta</string>
					</dict>
				</dict>
				<dict>
					<key>changeDone</key>
					<false/>
					<key>changed values</key>
					<array/>
					<key>class</key>
					<string>BLStringKeyObject</string>
					<key>comment</key>
					<string>NSButton (Do Not Agree) : &lt;title:Do Not Agree&gt; (oid:30)</string>
					<key>flags</key>
					<integer>0</integer>
					<key>key</key>
					<string>Do Not Agree</string>
					<key>localizations</key>
					<dict>
						<key>English</key>
						<string>Do Not Agree</string>
						<key>it</key>
						<string>Rifiuta</string>
					</dict>
				</dict>
				<dict>
					<key>changeDone</key>
					<false/>
					<key>changed values</key>
					<array/>
					<key>class</key>
					<string>BLStringKeyObject</string>
					<key>comment</key>
					<string>NSTextField (If you don't agree, then you will not be able to use Afloat.) : &lt;title:If you don't agree, then you will not be able to use Afloat.&gt; (oid:28)</string>
					<key>flags</key>
					<integer>0</integer>
					<key>key</key>
					<string>If you don't agree, then you will not be able to use Afloat.</string>
					<key>localizations</key>
					<dict>
						<key>English</key>
						<string>If you don't agree, then you will not be able to use Afloat.</string>
						<key>it</key>
						<string>Se non accetti, non potrai usare Afloat.</string>
					</dict>
				</dict>
				<dict>
					<key>changeDone</key>
					<false/>
					<key>changed values</key>
					<array/>
					<key>class</key>
					<string>BLStringKeyObject</string>
					<key>comment</key>
					<string>NSTextField (The use of Afloat and other included components is regulated by a license agreement.) : &lt;title:The use of Afloat and other included components is regulated by a license agreement.&gt; (oid:25)</string>
					<key>flags</key>
					<integer>0</integer>
					<key>key</key>
					<string>The use of Afloat and other included components is regulated by a license agreement.</string>
					<key>localizations</key>
					<dict>
						<key>English</key>
						<string>The use of Afloat and other included components is regulated by a license agreement.</string>
						<key>it</key>
						<string>L'uso di Afloat e dei componenti inclusi è regolato da un accordo di licenza.</string>
					</dict>
				</dict>
			</array>
			<key>old objects</key>
			<array>
				<dict>
					<key>changeDone</key>
					<false/>
					<key>changed values</key>
					<array/>
					<key>class</key>
					<string>BLStringKeyObject</string>
					<key>comment</key>
					<string>NSTextField (An older version of Afloat was found. This version will not be able to work until the older version is removed.) : &lt;title:An older version of Afloat was found. This version will not be able to work until the older version is removed.&gt; (oid:11)</string>
					<key>flags</key>
					<integer>0</integer>
					<key>key</key>
					<string>An older version of Afloat was found. This version will not be able to work until the older version is removed.</string>
					<key>localizations</key>
					<dict>
						<key>English</key>
						<string>An older version of Afloat was found. This version will not be able to work until the older version is removed.</string>
						<key>it</key>
						<string>È presente una versione precedente di Afloat. È necessario rimuoverla perché questa funzioni.</string>
					</dict>
				</dict>
				<dict>
					<key>changeDone</key>
					<false/>
					<key>changed values</key>
					<array/>
					<key>class</key>
					<string>BLStringKeyObject</string>
					<key>comment</key>
					<string>NSButton (Enable Afloat) : &lt;title:Enable Afloat&gt; (oid:10)</string>
					<key>flags</key>
					<integer>0</integer>
					<key>key</key>
					<string>Enable Afloat</string>
					<key>localizations</key>
					<dict>
						<key>English</key>
						<string>Enable Afloat</string>
						<key>it</key>
						<string>Attiva Afloat</string>
					</dict>
				</dict>
				<dict>
					<key>changeDone</key>
					<false/>
					<key>changed values</key>
					<array/>
					<key>class</key>
					<string>BLStringKeyObject</string>
					<key>comment</key>
					<string>NSTextField (Enabling Afloat will only take effect for any applications you launch (or relaunch) after enabling it.) : &lt;title:Enabling Afloat will only take effect for any applications you launch (or relaunch) after enabling it.&gt; (oid:13)</string>
					<key>flags</key>
					<integer>0</integer>
					<key>key</key>
					<string>Enabling Afloat will only take effect for any applications you launch (or relaunch) after enabling it.</string>
					<key>localizations</key>
					<dict>
						<key>English</key>
						<string>Enabling Afloat will only take effect for any applications you launch (or relaunch) after enabling it.</string>
						<key>it</key>
						<string>Solo le applicazioni aperte (o riaperte) dopo l'attivazione saranno modificate da Afloat.</string>
					</dict>
				</dict>
				<dict>
					<key>changeDone</key>
					<false/>
					<key>changed values</key>
					<array/>
					<key>class</key>
					<string>BLStringKeyObject</string>
					<key>comment</key>
					<string>NSButton (Remove Older Version…) : &lt;title:Remove Older Version…&gt; (oid:12)</string>
					<key>flags</key>
					<integer>0</integer>
					<key>key</key>
					<string>Remove Older Version…</string>
					<key>localizations</key>
					<dict>
						<key>English</key>
						<string>Remove Older Version…</string>
						<key>it</key>
						<string>Rimuovi Precedente…</string>
					</dict>
				</dict>
				<dict>
					<key>changeDone</key>
					<false/>
					<key>changed values</key>
					<array/>
					<key>class</key>
					<string>BLStringKeyObject</string>
					<key>comment</key>
					<string>NSButton (Agree) : &lt;title:Agree&gt; (oid:29)</string>
					<key>flags</key>
					<integer>0</integer>
					<key>key</key>
					<string>Agree</string>
					<key>localizations</key>
					<dict>
						<key>English</key>
						<string>Agree</string>
						<key>it</key>
						<string>Accetta</string>
					</dict>
				</dict>
				<dict>
					<key>changeDone</key>
					<false/>
					<key>changed values</key>
					<array/>
					<key>class</key>
					<string>BLStringKeyObject</string>
					<key>comment</key>
					<string>NSButton (Do Not Agree) : &lt;title:Do Not Agree&gt; (oid:30)</string>
					<key>flags</key>
					<integer>0</integer>
					<key>key</key>
					<string>Do Not Agree</string>
					<key>localizations</key>
					<dict>
						<key>English</key>
						<string>Do Not Agree</string>
						<key>it</key>
						<string>Rifiuta</string>
					</dict>
				</dict>
				<dict>
					<key>changeDone</key>
					<false/>
					<key>changed values</key>
					<array/>
					<key>class</key>
					<string>BLStringKeyObject</string>
					<key>comment</key>
					<string>NSTextField (If you don't agree, then you will not be able to use Afloat.) : &lt;title:If you don't agree, then you will not be able to use Afloat.&gt; (oid:28)</string>
					<key>flags</key>
					<integer>0</integer>
					<key>key</key>
					<string>If you don't agree, then you will not be able to use Afloat.</string>
					<key>localizations</key>
					<dict>
						<key>English</key>
						<string>If you don't agree, then you will not be able to use Afloat.</string>
						<key>it</key>
						<string>Se non accetti, non potrai usare Afloat.</string>
					</dict>
				</dict>
				<dict>
					<key>changeDone</key>
					<false/>
					<key>changed values</key>
					<array/>
					<key>class</key>
					<string>BLStringKeyObject</string>
					<key>comment</key>
					<string>NSTextField (The use of Afloat and other included components is regulated by a license agreement.) : &lt;title:The use of Afloat and other included components is regulated by a license agreement.&gt; (oid:25)</string>
					<key>flags</key>
					<integer>0</integer>
					<key>key</key>
					<string>The use of Afloat and other included components is regulated by a license agreement.</string>
					<key>localizations</key>
					<dict>
						<key>English</key>
						<string>The use of Afloat and other included components is regulated by a license agreement.</string>
						<key>it</key>
						<string>L'uso di Afloat e dei componenti inclusi è regolato da un accordo di licenza.</string>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>changeDone</key>
			<false/>
			<key>class</key>
			<string>BLStringsFileObject</string>
			<key>flags</key>
			<integer>1</integer>
			<key>name</key>
			<string>Localizable.strings</string>
			<key>objects</key>
			<array>
				<dict>
					<key>changeDone</key>
					<false/>
					<key>changed values</key>
					<array/>
					<key>class</key>
					<string>BLStringKeyObject</string>
					<key>comment</key>
					<string>Can't install SIMBL</string>
					<key>flags</key>
					<integer>0</integer>
					<key>key</key>
					<string>Afloat could not install SIMBL.</string>
					<key>localizations</key>
					<dict>
						<key>English</key>
						<string>Afloat could not install SIMBL.</string>
						<key>it</key>
						<string>Afloat non è riuscito a installare SIMBL.</string>
					</dict>
				</dict>
				<dict>
					<key>changeDone</key>
					<false/>
					<key>changed values</key>
					<array/>
					<key>class</key>
					<string>BLStringKeyObject</string>
					<key>comment</key>
					<string>Trouble: older Afloat in app support</string>
					<key>flags</key>
					<integer>0</integer>
					<key>key</key>
					<string>An older version of Afloat was found. This version will not be able to work until the older version is removed.</string>
					<key>localizations</key>
					<dict>
						<key>English</key>
						<string>An older version of Afloat was found. This version will not be able to work until the older version is removed.</string>
						<key>it</key>
						<string>È presente una versione precedente di Afloat. È necessario rimuoverla perché questa funzioni.</string>
					</dict>
				</dict>
				<dict>
					<key>changeDone</key>
					<false/>
					<key>changed values</key>
					<array/>
					<key>class</key>
					<string>BLStringKeyObject</string>
					<key>comment</key>
					<string>Fix SIMBL not installed</string>
					<key>flags</key>
					<integer>0</integer>
					<key>key</key>
					<string>Install SIMBL...</string>
					<key>localizations</key>
					<dict>
						<key>English</key>
						<string>Install SIMBL...</string>
						<key>it</key>
						<string>Installa SIMBL…</string>
					</dict>
				</dict>
				<dict>
					<key>changeDone</key>
					<false/>
					<key>changed values</key>
					<array/>
					<key>class</key>
					<string>BLStringKeyObject</string>
					<key>comment</key>
					<string>Log out alert button</string>
					<key>flags</key>
					<integer>0</integer>
					<key>key</key>
					<string>Log Out</string>
					<key>localizations</key>
					<dict>
						<key>English</key>
						<string>Log Out</string>
						<key>it</key>
						<string>Logout</string>
					</dict>
				</dict>
				<dict>
					<key>changeDone</key>
					<false/>
					<key>changed values</key>
					<array/>
					<key>class</key>
					<string>BLStringKeyObject</string>
					<key>comment</key>
					<string>Logging out recommended</string>
					<key>flags</key>
					<integer>0</integer>
					<key>key</key>
					<string>Logging out is recommended after working with older versions of Afloat.</string>
					<key>localizations</key>
					<dict>
						<key>English</key>
						<string>Logging out is recommended after working with older versions of Afloat.</string>
						<key>it</key>
						<string>È consigliabile effettuare il logout dopo la rimozione di versioni precedenti di Afloat.</string>
					</dict>
				</dict>
				<dict>
					<key>changeDone</key>
					<false/>
					<key>changed values</key>
					<array/>
					<key>class</key>
					<string>BLStringKeyObject</string>
					<key>comment</key>
					<string>Trouble fixer: remove older</string>
					<key>flags</key>
					<integer>0</integer>
					<key>key</key>
					<string>Remove Older Version...</string>
					<key>localizations</key>
					<dict>
						<key>English</key>
						<string>Remove Older Version...</string>
						<key>it</key>
						<string>Rimuovi Precedente…</string>
					</dict>
				</dict>
				<dict>
					<key>changeDone</key>
					<false/>
					<key>changed values</key>
					<array/>
					<key>class</key>
					<string>BLStringKeyObject</string>
					<key>comment</key>
					<string>SIMBL not installed</string>
					<key>flags</key>
					<integer>0</integer>
					<key>key</key>
					<string>SIMBL is not installed. Afloat requires SIMBL to work properly.</string>
					<key>localizations</key>
					<dict>
						<key>English</key>
						<string>SIMBL is not installed. Afloat requires SIMBL to work properly.</string>
						<key>it</key>
						<string>SIMBL non è installato. È necessario perché Afloat funzioni correttamente.</string>
					</dict>
				</dict>
				<dict>
					<key>changeDone</key>
					<false/>
					<key>changed values</key>
					<array/>
					<key>class</key>
					<string>BLStringKeyObject</string>
					<key>comment</key>
					<string>Stay logged in alert button</string>
					<key>flags</key>
					<integer>0</integer>
					<key>key</key>
					<string>Stay Logged In</string>
					<key>localizations</key>
					<dict>
						<key>English</key>
						<string>Stay Logged In</string>
						<key>it</key>
						<string>Continua senza logout</string>
					</dict>
				</dict>
				<dict>
					<key>changeDone</key>
					<false/>
					<key>changed values</key>
					<array/>
					<key>class</key>
					<string>BLStringKeyObject</string>
					<key>comment</key>
					<string>Alert: can't find the Trash</string>
					<key>flags</key>
					<integer>0</integer>
					<key>key</key>
					<string>There was a problem removing the older version of Afloat.</string>
					<key>localizations</key>
					<dict>
						<key>English</key>
						<string>There was a problem removing the older version of Afloat.</string>
						<key>it</key>
						<string>Non sono riuscito a rimuovere la versione precedente di Afloat.</string>
					</dict>
				</dict>
				<dict>
					<key>changeDone</key>
					<false/>
					<key>changed values</key>
					<array/>
					<key>class</key>
					<string>BLStringKeyObject</string>
					<key>comment</key>
					<string>Explain logging out recommended.</string>
					<key>flags</key>
					<integer>0</integer>
					<key>key</key>
					<string>This will ensure that the older version of Afloat is properly removed from your Mac. When you log back in, the new version of Afloat can be enabled from the "Afloat" System Preferences pane.</string>
					<key>localizations</key>
					<dict>
						<key>English</key>
						<string>This will ensure that the older version of Afloat is properly removed from your Mac. When you log back in, the new version of Afloat can be enabled from the "Afloat" System Preferences pane.</string>
						<key>it</key>
						<string>Questo assicura che la versione precedente di Afloat sia completamente rimossa dal tuo Mac. Al prossimo login, potrai abilitare la nuova versione nelle Preferenze di Sistema.</string>
					</dict>
				</dict>
				<dict>
					<key>changeDone</key>
					<false/>
					<key>changed values</key>
					<array/>
					<key>class</key>
					<string>BLStringKeyObject</string>
					<key>comment</key>
					<string>Explain can't install SIMBL.</string>
					<key>flags</key>
					<integer>0</integer>
					<key>key</key>
					<string>You can install SIMBL manually by downloading it from http://culater.net/software/SIMBL/SIMBL.php.</string>
					<key>localizations</key>
					<dict>
						<key>English</key>
						<string>You can install SIMBL manually by downloading it from http://culater.net/software/SIMBL/SIMBL.php.</string>
						<key>it</key>
						<string>Puoi installare SIMBL manualmente scaricandolo da http://culater.net/software/SIMBL/SIMBL.php.</string>
					</dict>
				</dict>
				<dict>
					<key>changeDone</key>
					<false/>
					<key>changed values</key>
					<array/>
					<key>class</key>
					<string>BLStringKeyObject</string>
					<key>comment</key>
					<string>Alert exp: can't find the Trash</string>
					<key>flags</key>
					<integer>0</integer>
					<key>key</key>
					<string>You can remove it manually by searching inside the SIMBL folder, which is found in the Application Support folder of your personal Library.</string>
					<key>localizations</key>
					<dict>
						<key>English</key>
						<string>You can remove it manually by searching inside the SIMBL folder, which is found in the Application Support folder of your personal Library.</string>
						<key>it</key>
						<string>Puoi rimuoverlo manualmente, se vuoi. Si trova nella cartella SIMBL, dentro la cartella Application Support della tua Libreria personale.</string>
					</dict>
				</dict>
				<dict>
					<key>changeDone</key>
					<false/>
					<key>changed values</key>
					<array/>
					<key>class</key>
					<string>BLStringKeyObject</string>
					<key>comment</key>
					<string>About to install SIMBL: cancel</string>
					<key>flags</key>
					<integer>0</integer>
					<key>key</key>
					<string>Cancel</string>
					<key>localizations</key>
					<dict>
						<key>English</key>
						<string>Cancel</string>
						<key>it</key>
						<string>Annulla</string>
					</dict>
				</dict>
				<dict>
					<key>changeDone</key>
					<false/>
					<key>changed values</key>
					<array/>
					<key>class</key>
					<string>BLStringKeyObject</string>
					<key>comment</key>
					<string>About to install SIMBL: continue</string>
					<key>flags</key>
					<integer>0</integer>
					<key>key</key>
					<string>Install SIMBL</string>
					<key>localizations</key>
					<dict>
						<key>English</key>
						<string>Install SIMBL</string>
						<key>it</key>
						<string>Installa SIMBL</string>
					</dict>
				</dict>
				<dict>
					<key>changeDone</key>
					<false/>
					<key>changed values</key>
					<array/>
					<key>class</key>
					<string>BLStringKeyObject</string>
					<key>comment</key>
					<string>Explain about to install SIMBL</string>
					<key>flags</key>
					<integer>0</integer>
					<key>key</key>
					<string>SIMBL is a library that allows plug-ins, such as Afloat or PithHelmet, to modify other applications. It will be installed in the InputManagers folder of your personal Library.</string>
					<key>localizations</key>
					<dict>
						<key>English</key>
						<string>SIMBL is a library that allows plug-ins, such as Afloat or PithHelmet, to modify other applications. It will be installed in the InputManagers folder of your personal Library.</string>
						<key>it</key>
						<string>SIMBL è una libreria che consente a plug-in come Afloat o PithHelmet di modificare altre applicazioni. Sarà installato in una cartella chiamata InputManagers nella tua Libreria.</string>
					</dict>
				</dict>
				<dict>
					<key>changeDone</key>
					<false/>
					<key>changed values</key>
					<array/>
					<key>class</key>
					<string>BLStringKeyObject</string>
					<key>comment</key>
					<string>About to install SIMBL</string>
					<key>flags</key>
					<integer>0</integer>
					<key>key</key>
					<string>SIMBL is going to be installed. Do you want to continue?</string>
					<key>localizations</key>
					<dict>
						<key>English</key>
						<string>SIMBL is going to be installed. Do you want to continue?</string>
						<key>it</key>
						<string>Sto per installare SIMBL. Vado avanti?</string>
					</dict>
				</dict>
				<dict>
					<key>changeDone</key>
					<false/>
					<key>changed values</key>
					<array/>
					<key>class</key>
					<string>BLStringKeyObject</string>
					<key>comment</key>
					<string>About to install SIMBL: go to web site</string>
					<key>flags</key>
					<integer>0</integer>
					<key>key</key>
					<string>Visit SIMBL web site</string>
					<key>localizations</key>
					<dict>
						<key>English</key>
						<string>Visit SIMBL web site</string>
						<key>it</key>
						<string>Visita il sito web di SIMBL</string>
					</dict>
				</dict>
				<dict>
					<key>changeDone</key>
					<false/>
					<key>changed values</key>
					<array/>
					<key>class</key>
					<string>BLStringKeyObject</string>
					<key>comment</key>
					<string>Explain did update to newer Afloat</string>
					<key>flags</key>
					<integer>1</integer>
					<key>key</key>
					<string>New features will only be available to applications you start from now on. If other applications are open, they will not get the new features until you quit them and reopen them.</string>
					<key>localizations</key>
					<dict>
						<key>English</key>
						<string>New features will only be available to applications you start from now on. If other applications are open, they will not get the new features until you quit them and reopen them.</string>
						<key>it</key>
						<string>Le nuove funzionalità saranno disponibili solo alle applicazioni che apri d'ora in poi. Se ci sono già applicazioni aperte, per aggiungere ad esse le nuove funzionalità dovrai riaprirle.</string>
					</dict>
				</dict>
				<dict>
					<key>changeDone</key>
					<false/>
					<key>changed values</key>
					<array/>
					<key>class</key>
					<string>BLStringKeyObject</string>
					<key>comment</key>
					<string>Did update to newer Afloat</string>
					<key>flags</key>
					<integer>1</integer>
					<key>key</key>
					<string>This version of Afloat upgraded a previous version successfully.</string>
					<key>localizations</key>
					<dict>
						<key>English</key>
						<string>This version of Afloat upgraded a previous version successfully.</string>
						<key>it</key>
						<string>Questa versione di Afloat ha aggiornato con successo una versione precedente.</string>
					</dict>
				</dict>
				<dict>
					<key>changeDone</key>
					<false/>
					<key>changed values</key>
					<array/>
					<key>class</key>
					<string>BLStringKeyObject</string>
					<key>comment</key>
					<string>Welcome</string>
					<key>flags</key>
					<integer>1</integer>
					<key>key</key>
					<string>Welcome to Afloat.</string>
					<key>localizations</key>
					<dict>
						<key>English</key>
						<string>Welcome to Afloat.</string>
						<key>it</key>
						<string>Benvenuto ad Afloat.</string>
					</dict>
				</dict>
				<dict>
					<key>changeDone</key>
					<false/>
					<key>changed values</key>
					<array/>
					<key>class</key>
					<string>BLStringKeyObject</string>
					<key>comment</key>
					<string>Explain welcome</string>
					<key>flags</key>
					<integer>1</integer>
					<key>key</key>
					<string>For safety, Afloat was not enabled automatically for this user when it was installed. Put a checkmark near "Enable Afloat" to start using it!</string>
					<key>localizations</key>
					<dict>
						<key>English</key>
						<string>For safety, Afloat was not enabled automatically for this user when it was installed. Put a checkmark near "Enable Afloat" to start using it!</string>
						<key>it</key>
						<string>Per prudenza, Afloat non si è attivato durante l'installazione per questo utente. Metti un segno di spunta accanto a "Attiva Afloat" per iniziare ad usarlo!</string>
					</dict>
				</dict>
			</array>
			<key>old objects</key>
			<array>
				<dict>
					<key>changeDone</key>
					<false/>
					<key>changed values</key>
					<array/>
					<key>class</key>
					<string>BLStringKeyObject</string>
					<key>comment</key>
					<string>Can't install SIMBL</string>
					<key>flags</key>
					<integer>0</integer>
					<key>key</key>
					<string>Afloat could not install SIMBL.</string>
					<key>localizations</key>
					<dict>
						<key>English</key>
						<string>Afloat could not install SIMBL.</string>
						<key>it</key>
						<string>Afloat non è riuscito a installare SIMBL.</string>
					</dict>
				</dict>
				<dict>
					<key>changeDone</key>
					<false/>
					<key>changed values</key>
					<array/>
					<key>class</key>
					<string>BLStringKeyObject</string>
					<key>comment</key>
					<string>Trouble: older Afloat in app support</string>
					<key>flags</key>
					<integer>0</integer>
					<key>key</key>
					<string>An older version of Afloat was found. This version will not be able to work until the older version is removed.</string>
					<key>localizations</key>
					<dict>
						<key>English</key>
						<string>An older version of Afloat was found. This version will not be able to work until the older version is removed.</string>
						<key>it</key>
						<string>È presente una versione precedente di Afloat. È necessario rimuoverla perché questa funzioni.</string>
					</dict>
				</dict>
				<dict>
					<key>changeDone</key>
					<false/>
					<key>changed values</key>
					<array/>
					<key>class</key>
					<string>BLStringKeyObject</string>
					<key>comment</key>
					<string>Fix SIMBL not installed</string>
					<key>flags</key>
					<integer>0</integer>
					<key>key</key>
					<string>Install SIMBL...</string>
					<key>localizations</key>
					<dict>
						<key>English</key>
						<string>Install SIMBL...</string>
						<key>it</key>
						<string>Installa SIMBL…</string>
					</dict>
				</dict>
				<dict>
					<key>changeDone</key>
					<false/>
					<key>changed values</key>
					<array/>
					<key>class</key>
					<string>BLStringKeyObject</string>
					<key>comment</key>
					<string>Log out alert button</string>
					<key>flags</key>
					<integer>0</integer>
					<key>key</key>
					<string>Log Out</string>
					<key>localizations</key>
					<dict>
						<key>English</key>
						<string>Log Out</string>
						<key>it</key>
						<string>Logout</string>
					</dict>
				</dict>
				<dict>
					<key>changeDone</key>
					<false/>
					<key>changed values</key>
					<array/>
					<key>class</key>
					<string>BLStringKeyObject</string>
					<key>comment</key>
					<string>Logging out recommended</string>
					<key>flags</key>
					<integer>0</integer>
					<key>key</key>
					<string>Logging out is recommended after working with older versions of Afloat.</string>
					<key>localizations</key>
					<dict>
						<key>English</key>
						<string>Logging out is recommended after working with older versions of Afloat.</string>
						<key>it</key>
						<string>È consigliabile effettuare il logout dopo la rimozione di versioni precedenti di Afloat.</string>
					</dict>
				</dict>
				<dict>
					<key>changeDone</key>
					<false/>
					<key>changed values</key>
					<array/>
					<key>class</key>
					<string>BLStringKeyObject</string>
					<key>comment</key>
					<string>Trouble fixer: remove older</string>
					<key>flags</key>
					<integer>0</integer>
					<key>key</key>
					<string>Remove Older Version...</string>
					<key>localizations</key>
					<dict>
						<key>English</key>
						<string>Remove Older Version...</string>
						<key>it</key>
						<string>Rimuovi Precedente…</string>
					</dict>
				</dict>
				<dict>
					<key>changeDone</key>
					<false/>
					<key>changed values</key>
					<array/>
					<key>class</key>
					<string>BLStringKeyObject</string>
					<key>comment</key>
					<string>SIMBL not installed</string>
					<key>flags</key>
					<integer>0</integer>
					<key>key</key>
					<string>SIMBL is not installed. Afloat requires SIMBL to work properly.</string>
					<key>localizations</key>
					<dict>
						<key>English</key>
						<string>SIMBL is not installed. Afloat requires SIMBL to work properly.</string>
						<key>it</key>
						<string>SIMBL non è installato. È necessario perché Afloat funzioni correttamente.</string>
					</dict>
				</dict>
				<dict>
					<key>changeDone</key>
					<false/>
					<key>changed values</key>
					<array/>
					<key>class</key>
					<string>BLStringKeyObject</string>
					<key>comment</key>
					<string>Stay logged in alert button</string>
					<key>flags</key>
					<integer>0</integer>
					<key>key</key>
					<string>Stay Logged In</string>
					<key>localizations</key>
					<dict>
						<key>English</key>
						<string>Stay Logged In</string>
						<key>it</key>
						<string>Continua senza logout</string>
					</dict>
				</dict>
				<dict>
					<key>changeDone</key>
					<false/>
					<key>changed values</key>
					<array/>
					<key>class</key>
					<string>BLStringKeyObject</string>
					<key>comment</key>
					<string>Alert: can't find the Trash</string>
					<key>flags</key>
					<integer>0</integer>
					<key>key</key>
					<string>There was a problem removing the older version of Afloat.</string>
					<key>localizations</key>
					<dict>
						<key>English</key>
						<string>There was a problem removing the older version of Afloat.</string>
						<key>it</key>
						<string>Non sono riuscito a rimuovere la versione precedente di Afloat.</string>
					</dict>
				</dict>
				<dict>
					<key>changeDone</key>
					<false/>
					<key>changed values</key>
					<array/>
					<key>class</key>
					<string>BLStringKeyObject</string>
					<key>comment</key>
					<string>Explain logging out recommended.</string>
					<key>flags</key>
					<integer>0</integer>
					<key>key</key>
					<string>This will ensure that the older version of Afloat is properly removed from your Mac. When you log back in, the new version of Afloat can be enabled from the "Afloat" System Preferences pane.</string>
					<key>localizations</key>
					<dict>
						<key>English</key>
						<string>This will ensure that the older version of Afloat is properly removed from your Mac. When you log back in, the new version of Afloat can be enabled from the "Afloat" System Preferences pane.</string>
						<key>it</key>
						<string>Questo assicura che la versione precedente di Afloat sia completamente rimossa dal tuo Mac. Al prossimo login, potrai abilitare la nuova versione nelle Preferenze di Sistema.</string>
					</dict>
				</dict>
				<dict>
					<key>changeDone</key>
					<false/>
					<key>changed values</key>
					<array/>
					<key>class</key>
					<string>BLStringKeyObject</string>
					<key>comment</key>
					<string>Explain can't install SIMBL.</string>
					<key>flags</key>
					<integer>0</integer>
					<key>key</key>
					<string>You can install SIMBL manually by downloading it from http://culater.net/software/SIMBL/SIMBL.php.</string>
					<key>localizations</key>
					<dict>
						<key>English</key>
						<string>You can install SIMBL manually by downloading it from http://culater.net/software/SIMBL/SIMBL.php.</string>
						<key>it</key>
						<string>Puoi installare SIMBL manualmente scaricandolo da http://culater.net/software/SIMBL/SIMBL.php.</string>
					</dict>
				</dict>
				<dict>
					<key>changeDone</key>
					<false/>
					<key>changed values</key>
					<array/>
					<key>class</key>
					<string>BLStringKeyObject</string>
					<key>comment</key>
					<string>Alert exp: can't find the Trash</string>
					<key>flags</key>
					<integer>0</integer>
					<key>key</key>
					<string>You can remove it manually by searching inside the SIMBL folder, which is found in the Application Support folder of your personal Library.</string>
					<key>localizations</key>
					<dict>
						<key>English</key>
						<string>You can remove it manually by searching inside the SIMBL folder, which is found in the Application Support folder of your personal Library.</string>
						<key>it</key>
						<string>Puoi rimuoverlo manualmente, se vuoi. Si trova nella cartella SIMBL, dentro la cartella Application Support della tua Libreria personale.</string>
					</dict>
				</dict>
				<dict>
					<key>changeDone</key>
					<false/>
					<key>changed values</key>
					<array/>
					<key>class</key>
					<string>BLStringKeyObject</string>
					<key>comment</key>
					<string>About to install SIMBL: cancel</string>
					<key>flags</key>
					<integer>0</integer>
					<key>key</key>
					<string>Cancel</string>
					<key>localizations</key>
					<dict>
						<key>English</key>
						<string>Cancel</string>
						<key>it</key>
						<string>Annulla</string>
					</dict>
				</dict>
				<dict>
					<key>changeDone</key>
					<false/>
					<key>changed values</key>
					<array/>
					<key>class</key>
					<string>BLStringKeyObject</string>
					<key>comment</key>
					<string>About to install SIMBL: continue</string>
					<key>flags</key>
					<integer>0</integer>
					<key>key</key>
					<string>Install SIMBL</string>
					<key>localizations</key>
					<dict>
						<key>English</key>
						<string>Install SIMBL</string>
						<key>it</key>
						<string>Installa SIMBL</string>
					</dict>
				</dict>
				<dict>
					<key>changeDone</key>
					<false/>
					<key>changed values</key>
					<array/>
					<key>class</key>
					<string>BLStringKeyObject</string>
					<key>comment</key>
					<string>Explain about to install SIMBL</string>
					<key>flags</key>
					<integer>0</integer>
					<key>key</key>
					<string>SIMBL is a library that allows plug-ins, such as Afloat or PithHelmet, to modify other applications. It will be installed in the InputManagers folder of your personal Library.</string>
					<key>localizations</key>
					<dict>
						<key>English</key>
						<string>SIMBL is a library that allows plug-ins, such as Afloat or PithHelmet, to modify other applications. It will be installed in the InputManagers folder of your personal Library.</string>
						<key>it</key>
						<string>SIMBL è una libreria che consente a plug-in come Afloat o PithHelmet di modificare altre applicazioni. Sarà installato in una cartella chiamata InputManagers nella tua Libreria.</string>
					</dict>
				</dict>
				<dict>
					<key>changeDone</key>
					<false/>
					<key>changed values</key>
					<array/>
					<key>class</key>
					<string>BLStringKeyObject</string>
					<key>comment</key>
					<string>About to install SIMBL</string>
					<key>flags</key>
					<integer>0</integer>
					<key>key</key>
					<string>SIMBL is going to be installed. Do you want to continue?</string>
					<key>localizations</key>
					<dict>
						<key>English</key>
						<string>SIMBL is going to be installed. Do you want to continue?</string>
						<key>it</key>
						<string>Sto per installare SIMBL. Vado avanti?</string>
					</dict>
				</dict>
				<dict>
					<key>changeDone</key>
					<false/>
					<key>changed values</key>
					<array/>
					<key>class</key>
					<string>BLStringKeyObject</string>
					<key>comment</key>
					<string>About to install SIMBL: go to web site</string>
					<key>flags</key>
					<integer>0</integer>
					<key>key</key>
					<string>Visit SIMBL web site</string>
					<key>localizations</key>
					<dict>
						<key>English</key>
						<string>Visit SIMBL web site</string>
						<key>it</key>
						<string>Visita il sito web di SIMBL</string>
					</dict>
				</dict>
				<dict>
					<key>changeDone</key>
					<false/>
					<key>changed values</key>
					<array/>
					<key>class</key>
					<string>BLStringKeyObject</string>
					<key>comment</key>
					<string>Explain did update to newer Afloat</string>
					<key>flags</key>
					<integer>1</integer>
					<key>key</key>
					<string>New features will only be available to applications you start from now on. If other applications are open, they will not get the new features until you quit them and reopen them.</string>
					<key>localizations</key>
					<dict>
						<key>English</key>
						<string>New features will only be available to applications you start from now on. If other applications are open, they will not get the new features until you quit them and reopen them.</string>
						<key>it</key>
						<string>Le nuove funzionalità saranno disponibili solo alle applicazioni che apri d'ora in poi. Se ci sono già applicazioni aperte, per aggiungere ad esse le nuove funzionalità dovrai riaprirle.</string>
					</dict>
				</dict>
				<dict>
					<key>changeDone</key>
					<false/>
					<key>changed values</key>
					<array/>
					<key>class</key>
					<string>BLStringKeyObject</string>
					<key>comment</key>
					<string>Did update to newer Afloat</string>
					<key>flags</key>
					<integer>1</integer>
					<key>key</key>
					<string>This version of Afloat upgraded a previous version successfully.</string>
					<key>localizations</key>
					<dict>
						<key>English</key>
						<string>This version of Afloat upgraded a previous version successfully.</string>
						<key>it</key>
						<string>Questa versione di Afloat ha aggiornato con successo una versione precedente.</string>
					</dict>
				</dict>
				<dict>
					<key>changeDone</key>
					<false/>
					<key>changed values</key>
					<array/>
					<key>class</key>
					<string>BLStringKeyObject</string>
					<key>comment</key>
					<string>Welcome</string>
					<key>flags</key>
					<integer>1</integer>
					<key>key</key>
					<string>Welcome to Afloat.</string>
					<key>localizations</key>
					<dict>
						<key>English</key>
						<string>Welcome to Afloat.</string>
						<key>it</key>
						<string>Benvenuto ad Afloat.</string>
					</dict>
				</dict>
				<dict>
					<key>changeDone</key>
					<false/>
					<key>changed values</key>
					<array/>
					<key>class</key>
					<string>BLStringKeyObject</string>
					<key>comment</key>
					<string>Explain welcome</string>
					<key>flags</key>
					<integer>1</integer>
					<key>key</key>
					<string>For safety, Afloat was not enabled automatically for this user when it was installed. Put a checkmark near "Enable Afloat" to start using it!</string>
					<key>localizations</key>
					<dict>
						<key>English</key>
						<string>For safety, Afloat was not enabled automatically for this user when it was installed. Put a checkmark near "Enable Afloat" to start using it!</string>
						<key>it</key>
						<string>Per prudenza, Afloat non si è attivato durante l'installazione per questo utente. Metti un segno di spunta accanto a "Attiva Afloat" per iniziare ad usarlo!</string>
					</dict>
				</dict>
			</array>
		</dict>
	</array>
	<key>languages</key>
	<array>
		<string>English</string>
		<string>it</string>
	</array>
	<key>reference language</key>
	<string>English</string>
	<key>supports preview</key>
	<true/>
</dict>
</plist>
