<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>files</key>
	<array>
		<dict>
			<key>changeDone</key>
			<false/>
			<key>class</key>
			<string>BLStringsFileObject</string>
			<key>flags</key>
			<integer>0</integer>
			<key>name</key>
			<string>Localizable.strings</string>
			<key>objects</key>
			<array>
				<dict>
					<key>changeDone</key>
					<false/>
					<key>changed values</key>
					<array/>
					<key>class</key>
					<string>BLStringKeyObject</string>
					<key>comment</key>
					<string>Can't install SIMBL</string>
					<key>flags</key>
					<integer>1</integer>
					<key>key</key>
					<string>Afloat could not install SIMBL.</string>
					<key>localizations</key>
					<dict>
						<key>English</key>
						<string>Afloat could not install SIMBL.</string>
						<key>jp</key>
						<string>Afloat は SIMBL をインストールできませんでした。</string>
					</dict>
				</dict>
				<dict>
					<key>changeDone</key>
					<false/>
					<key>changed values</key>
					<array/>
					<key>class</key>
					<string>BLStringKeyObject</string>
					<key>comment</key>
					<string>Trouble: older Afloat in app support</string>
					<key>flags</key>
					<integer>1</integer>
					<key>key</key>
					<string>An older version of Afloat was found. This version will not be able to work until the older version is removed.</string>
					<key>localizations</key>
					<dict>
						<key>English</key>
						<string>An older version of Afloat was found. This version will not be able to work until the older version is removed.</string>
						<key>jp</key>
						<string>Afloat の古いバージョンが存在します。このバージョンは、古いバージョンを取り除くまで動作しません。</string>
					</dict>
				</dict>
				<dict>
					<key>changeDone</key>
					<false/>
					<key>changed values</key>
					<array/>
					<key>class</key>
					<string>BLStringKeyObject</string>
					<key>comment</key>
					<string>About to install SIMBL: cancel</string>
					<key>flags</key>
					<integer>1</integer>
					<key>key</key>
					<string>Cancel</string>
					<key>localizations</key>
					<dict>
						<key>English</key>
						<string>Cancel</string>
						<key>jp</key>
						<string>キャンセル</string>
					</dict>
				</dict>
				<dict>
					<key>changeDone</key>
					<false/>
					<key>changed values</key>
					<array/>
					<key>class</key>
					<string>BLStringKeyObject</string>
					<key>comment</key>
					<string>Explain welcome</string>
					<key>flags</key>
					<integer>1</integer>
					<key>key</key>
					<string>For safety, Afloat was not enabled automatically for this user when it was installed. Put a checkmark near "Enable Afloat" to start using it!</string>
					<key>localizations</key>
					<dict>
						<key>English</key>
						<string>For safety, Afloat was not enabled automatically for this user when it was installed. Put a checkmark near "Enable Afloat" to start using it!</string>
						<key>jp</key>
						<string>安全のために、インストールされた Afloat は自動的に有効にされていません。
Afloat を使用するために「Afloat を使用可能にする」にチェックマークを入れてください！</string>
					</dict>
				</dict>
				<dict>
					<key>changeDone</key>
					<false/>
					<key>changed values</key>
					<array/>
					<key>class</key>
					<string>BLStringKeyObject</string>
					<key>comment</key>
					<string>About to install SIMBL: continue</string>
					<key>flags</key>
					<integer>1</integer>
					<key>key</key>
					<string>Install SIMBL</string>
					<key>localizations</key>
					<dict>
						<key>English</key>
						<string>Install SIMBL</string>
						<key>jp</key>
						<string>SIMBL をインストール</string>
					</dict>
				</dict>
				<dict>
					<key>changeDone</key>
					<false/>
					<key>changed values</key>
					<array/>
					<key>class</key>
					<string>BLStringKeyObject</string>
					<key>comment</key>
					<string>Fix SIMBL not installed</string>
					<key>flags</key>
					<integer>1</integer>
					<key>key</key>
					<string>Install SIMBL...</string>
					<key>localizations</key>
					<dict>
						<key>English</key>
						<string>Install SIMBL...</string>
						<key>jp</key>
						<string>SIMBL をインストール...</string>
					</dict>
				</dict>
				<dict>
					<key>changeDone</key>
					<false/>
					<key>changed values</key>
					<array/>
					<key>class</key>
					<string>BLStringKeyObject</string>
					<key>comment</key>
					<string>Log out alert button</string>
					<key>flags</key>
					<integer>1</integer>
					<key>key</key>
					<string>Log Out</string>
					<key>localizations</key>
					<dict>
						<key>English</key>
						<string>Log Out</string>
						<key>jp</key>
						<string>ログアウト</string>
					</dict>
				</dict>
				<dict>
					<key>changeDone</key>
					<false/>
					<key>changed values</key>
					<array/>
					<key>class</key>
					<string>BLStringKeyObject</string>
					<key>comment</key>
					<string>Logging out recommended</string>
					<key>flags</key>
					<integer>1</integer>
					<key>key</key>
					<string>Logging out is recommended after working with older versions of Afloat.</string>
					<key>localizations</key>
					<dict>
						<key>English</key>
						<string>Logging out is recommended after working with older versions of Afloat.</string>
						<key>jp</key>
						<string>古いバージョンの Afloat が動作していた場合は、ログアウトすることを推奨します。</string>
					</dict>
				</dict>
				<dict>
					<key>changeDone</key>
					<false/>
					<key>changed values</key>
					<array/>
					<key>class</key>
					<string>BLStringKeyObject</string>
					<key>comment</key>
					<string>Explain did update to newer Afloat</string>
					<key>flags</key>
					<integer>1</integer>
					<key>key</key>
					<string>New features will only be available to applications you start from now on. If other applications are open, they will not get the new features until you quit them and reopen them.</string>
					<key>localizations</key>
					<dict>
						<key>English</key>
						<string>New features will only be available to applications you start from now on. If other applications are open, they will not get the new features until you quit them and reopen them.</string>
						<key>jp</key>
						<string>新機能はこれから起動するアプリケーションで有効になります。既に起動中のアプリケーションは、一度終了し再起動するまで新機能は有効になりません。</string>
					</dict>
				</dict>
				<dict>
					<key>changeDone</key>
					<false/>
					<key>changed values</key>
					<array/>
					<key>class</key>
					<string>BLStringKeyObject</string>
					<key>comment</key>
					<string>Trouble fixer: remove older</string>
					<key>flags</key>
					<integer>1</integer>
					<key>key</key>
					<string>Remove Older Version...</string>
					<key>localizations</key>
					<dict>
						<key>English</key>
						<string>Remove Older Version...</string>
						<key>jp</key>
						<string>古いバージョンを取り除く...</string>
					</dict>
				</dict>
				<dict>
					<key>changeDone</key>
					<false/>
					<key>changed values</key>
					<array/>
					<key>class</key>
					<string>BLStringKeyObject</string>
					<key>comment</key>
					<string>Explain about to install SIMBL</string>
					<key>flags</key>
					<integer>1</integer>
					<key>key</key>
					<string>SIMBL is a library that allows plug-ins, such as Afloat or PithHelmet, to modify other applications. It will be installed in the InputManagers folder of your personal Library.</string>
					<key>localizations</key>
					<dict>
						<key>English</key>
						<string>SIMBL is a library that allows plug-ins, such as Afloat or PithHelmet, to modify other applications. It will be installed in the InputManagers folder of your personal Library.</string>
						<key>jp</key>
						<string>SIMBL は Afloat や PithHelmet のようなプラグインが、他のアプリケーションを修正することを可能にするライブラリです。
これは、ユーザのライブラリの InputManagers フォルダにインストールされます。</string>
					</dict>
				</dict>
				<dict>
					<key>changeDone</key>
					<false/>
					<key>changed values</key>
					<array/>
					<key>class</key>
					<string>BLStringKeyObject</string>
					<key>comment</key>
					<string>About to install SIMBL</string>
					<key>flags</key>
					<integer>1</integer>
					<key>key</key>
					<string>SIMBL is going to be installed. Do you want to continue?</string>
					<key>localizations</key>
					<dict>
						<key>English</key>
						<string>SIMBL is going to be installed. Do you want to continue?</string>
						<key>jp</key>
						<string>SIMBL がインストールされます。続行しますか？</string>
					</dict>
				</dict>
				<dict>
					<key>changeDone</key>
					<false/>
					<key>changed values</key>
					<array/>
					<key>class</key>
					<string>BLStringKeyObject</string>
					<key>comment</key>
					<string>SIMBL not installed</string>
					<key>flags</key>
					<integer>1</integer>
					<key>key</key>
					<string>SIMBL is not installed. Afloat requires SIMBL to work properly.</string>
					<key>localizations</key>
					<dict>
						<key>English</key>
						<string>SIMBL is not installed. Afloat requires SIMBL to work properly.</string>
						<key>jp</key>
						<string>SIMBL はインストールされません。Afloat が適切に動作するためには SIMBL が必要です。</string>
					</dict>
				</dict>
				<dict>
					<key>changeDone</key>
					<false/>
					<key>changed values</key>
					<array/>
					<key>class</key>
					<string>BLStringKeyObject</string>
					<key>comment</key>
					<string>Stay logged in alert button</string>
					<key>flags</key>
					<integer>1</integer>
					<key>key</key>
					<string>Stay Logged In</string>
					<key>localizations</key>
					<dict>
						<key>English</key>
						<string>Stay Logged In</string>
						<key>jp</key>
						<string>Stay Logged In</string>
					</dict>
				</dict>
				<dict>
					<key>changeDone</key>
					<false/>
					<key>changed values</key>
					<array/>
					<key>class</key>
					<string>BLStringKeyObject</string>
					<key>comment</key>
					<string>Alert: can't find the Trash</string>
					<key>flags</key>
					<integer>1</integer>
					<key>key</key>
					<string>There was a problem removing the older version of Afloat.</string>
					<key>localizations</key>
					<dict>
						<key>English</key>
						<string>There was a problem removing the older version of Afloat.</string>
						<key>jp</key>
						<string>Afloat の古いバージョンを取り除くのに失敗しました。</string>
					</dict>
				</dict>
				<dict>
					<key>changeDone</key>
					<false/>
					<key>changed values</key>
					<array/>
					<key>class</key>
					<string>BLStringKeyObject</string>
					<key>comment</key>
					<string>Did update to newer Afloat</string>
					<key>flags</key>
					<integer>1</integer>
					<key>key</key>
					<string>This version of Afloat upgraded a previous version successfully.</string>
					<key>localizations</key>
					<dict>
						<key>English</key>
						<string>This version of Afloat upgraded a previous version successfully.</string>
						<key>jp</key>
						<string>Afloat は、バージョンからのアップグレードに成功しました。</string>
					</dict>
				</dict>
				<dict>
					<key>changeDone</key>
					<false/>
					<key>changed values</key>
					<array/>
					<key>class</key>
					<string>BLStringKeyObject</string>
					<key>comment</key>
					<string>Explain logging out recommended.</string>
					<key>flags</key>
					<integer>1</integer>
					<key>key</key>
					<string>This will ensure that the older version of Afloat is properly removed from your Mac. When you log back in, the new version of Afloat can be enabled from the "Afloat" System Preferences pane.</string>
					<key>localizations</key>
					<dict>
						<key>English</key>
						<string>This will ensure that the older version of Afloat is properly removed from your Mac. When you log back in, the new version of Afloat can be enabled from the "Afloat" System Preferences pane.</string>
						<key>jp</key>
						<string>これは、Afloat の古いバージョンを Mac から適切に取り除きます。再ログインしたあとで、システム環境設定パネルの "Afloat" からAfloatの新しいバージョンを使用可能にできます。</string>
					</dict>
				</dict>
				<dict>
					<key>changeDone</key>
					<false/>
					<key>changed values</key>
					<array/>
					<key>class</key>
					<string>BLStringKeyObject</string>
					<key>comment</key>
					<string>About to install SIMBL: go to web site</string>
					<key>flags</key>
					<integer>1</integer>
					<key>key</key>
					<string>Visit SIMBL web site</string>
					<key>localizations</key>
					<dict>
						<key>English</key>
						<string>Visit SIMBL web site</string>
						<key>jp</key>
						<string>SIMBL のサイトに行く</string>
					</dict>
				</dict>
				<dict>
					<key>changeDone</key>
					<false/>
					<key>changed values</key>
					<array/>
					<key>class</key>
					<string>BLStringKeyObject</string>
					<key>comment</key>
					<string>Welcome</string>
					<key>flags</key>
					<integer>1</integer>
					<key>key</key>
					<string>Welcome to Afloat.</string>
					<key>localizations</key>
					<dict>
						<key>English</key>
						<string>Welcome to Afloat.</string>
						<key>jp</key>
						<string>Afloat へようこそ。</string>
					</dict>
				</dict>
				<dict>
					<key>changeDone</key>
					<false/>
					<key>changed values</key>
					<array/>
					<key>class</key>
					<string>BLStringKeyObject</string>
					<key>comment</key>
					<string>Explain can't install SIMBL.</string>
					<key>flags</key>
					<integer>1</integer>
					<key>key</key>
					<string>You can install SIMBL manually by downloading it from http://culater.net/software/SIMBL/SIMBL.php.</string>
					<key>localizations</key>
					<dict>
						<key>English</key>
						<string>You can install SIMBL manually by downloading it from http://culater.net/software/SIMBL/SIMBL.php.</string>
						<key>jp</key>
						<string>http://culater.net/software/SIMBL/SIMBL.php からダウンロードすることによって、手動で SIMBL をインストールすることができます。</string>
					</dict>
				</dict>
				<dict>
					<key>changeDone</key>
					<false/>
					<key>changed values</key>
					<array/>
					<key>class</key>
					<string>BLStringKeyObject</string>
					<key>comment</key>
					<string>Alert exp: can't find the Trash</string>
					<key>flags</key>
					<integer>1</integer>
					<key>key</key>
					<string>You can remove it manually by searching inside the SIMBL folder, which is found in the Application Support folder of your personal Library.</string>
					<key>localizations</key>
					<dict>
						<key>English</key>
						<string>You can remove it manually by searching inside the SIMBL folder, which is found in the Application Support folder of your personal Library.</string>
						<key>jp</key>
						<string>ユーザライブラリの Application Support フォルダにある SIMBL フォルダの中を探して、手動で取り除くことができます。</string>
					</dict>
				</dict>
			</array>
			<key>old objects</key>
			<array>
				<dict>
					<key>changeDone</key>
					<false/>
					<key>changed values</key>
					<array/>
					<key>class</key>
					<string>BLStringKeyObject</string>
					<key>comment</key>
					<string>Can't install SIMBL</string>
					<key>flags</key>
					<integer>1</integer>
					<key>key</key>
					<string>Afloat could not install SIMBL.</string>
					<key>localizations</key>
					<dict>
						<key>English</key>
						<string>Afloat could not install SIMBL.</string>
						<key>jp</key>
						<string>Afloat は SIMBL をインストールできませんでした。</string>
					</dict>
				</dict>
				<dict>
					<key>changeDone</key>
					<false/>
					<key>changed values</key>
					<array/>
					<key>class</key>
					<string>BLStringKeyObject</string>
					<key>comment</key>
					<string>Trouble: older Afloat in app support</string>
					<key>flags</key>
					<integer>1</integer>
					<key>key</key>
					<string>An older version of Afloat was found. This version will not be able to work until the older version is removed.</string>
					<key>localizations</key>
					<dict>
						<key>English</key>
						<string>An older version of Afloat was found. This version will not be able to work until the older version is removed.</string>
						<key>jp</key>
						<string>Afloat の古いバージョンが存在します。このバージョンは、古いバージョンを取り除くまで動作しません。</string>
					</dict>
				</dict>
				<dict>
					<key>changeDone</key>
					<false/>
					<key>changed values</key>
					<array/>
					<key>class</key>
					<string>BLStringKeyObject</string>
					<key>comment</key>
					<string>About to install SIMBL: cancel</string>
					<key>flags</key>
					<integer>1</integer>
					<key>key</key>
					<string>Cancel</string>
					<key>localizations</key>
					<dict>
						<key>English</key>
						<string>Cancel</string>
						<key>jp</key>
						<string>キャンセル</string>
					</dict>
				</dict>
				<dict>
					<key>changeDone</key>
					<false/>
					<key>changed values</key>
					<array/>
					<key>class</key>
					<string>BLStringKeyObject</string>
					<key>comment</key>
					<string>Explain welcome</string>
					<key>flags</key>
					<integer>1</integer>
					<key>key</key>
					<string>For safety, Afloat was not enabled automatically for this user when it was installed. Put a checkmark near "Enable Afloat" to start using it!</string>
					<key>localizations</key>
					<dict>
						<key>English</key>
						<string>For safety, Afloat was not enabled automatically for this user when it was installed. Put a checkmark near "Enable Afloat" to start using it!</string>
						<key>jp</key>
						<string>安全のために、インストールされた Afloat は自動的に有効にされていません。
Afloat を使用するために「Afloat を使用可能にする」にチェックマークを入れてください！</string>
					</dict>
				</dict>
				<dict>
					<key>changeDone</key>
					<false/>
					<key>changed values</key>
					<array/>
					<key>class</key>
					<string>BLStringKeyObject</string>
					<key>comment</key>
					<string>About to install SIMBL: continue</string>
					<key>flags</key>
					<integer>1</integer>
					<key>key</key>
					<string>Install SIMBL</string>
					<key>localizations</key>
					<dict>
						<key>English</key>
						<string>Install SIMBL</string>
						<key>jp</key>
						<string>SIMBL をインストール</string>
					</dict>
				</dict>
				<dict>
					<key>changeDone</key>
					<false/>
					<key>changed values</key>
					<array/>
					<key>class</key>
					<string>BLStringKeyObject</string>
					<key>comment</key>
					<string>Fix SIMBL not installed</string>
					<key>flags</key>
					<integer>1</integer>
					<key>key</key>
					<string>Install SIMBL...</string>
					<key>localizations</key>
					<dict>
						<key>English</key>
						<string>Install SIMBL...</string>
						<key>jp</key>
						<string>SIMBL をインストール...</string>
					</dict>
				</dict>
				<dict>
					<key>changeDone</key>
					<false/>
					<key>changed values</key>
					<array/>
					<key>class</key>
					<string>BLStringKeyObject</string>
					<key>comment</key>
					<string>Log out alert button</string>
					<key>flags</key>
					<integer>1</integer>
					<key>key</key>
					<string>Log Out</string>
					<key>localizations</key>
					<dict>
						<key>English</key>
						<string>Log Out</string>
						<key>jp</key>
						<string>ログアウト</string>
					</dict>
				</dict>
				<dict>
					<key>changeDone</key>
					<false/>
					<key>changed values</key>
					<array/>
					<key>class</key>
					<string>BLStringKeyObject</string>
					<key>comment</key>
					<string>Logging out recommended</string>
					<key>flags</key>
					<integer>1</integer>
					<key>key</key>
					<string>Logging out is recommended after working with older versions of Afloat.</string>
					<key>localizations</key>
					<dict>
						<key>English</key>
						<string>Logging out is recommended after working with older versions of Afloat.</string>
						<key>jp</key>
						<string>古いバージョンの Afloat が動作していた場合は、ログアウトすることを推奨します。</string>
					</dict>
				</dict>
				<dict>
					<key>changeDone</key>
					<false/>
					<key>changed values</key>
					<array/>
					<key>class</key>
					<string>BLStringKeyObject</string>
					<key>comment</key>
					<string>Explain did update to newer Afloat</string>
					<key>flags</key>
					<integer>1</integer>
					<key>key</key>
					<string>New features will only be available to applications you start from now on. If other applications are open, they will not get the new features until you quit them and reopen them.</string>
					<key>localizations</key>
					<dict>
						<key>English</key>
						<string>New features will only be available to applications you start from now on. If other applications are open, they will not get the new features until you quit them and reopen them.</string>
						<key>jp</key>
						<string>新機能はこれから起動するアプリケーションで有効になります。既に起動中のアプリケーションは、一度終了し再起動するまで新機能は有効になりません。</string>
					</dict>
				</dict>
				<dict>
					<key>changeDone</key>
					<false/>
					<key>changed values</key>
					<array/>
					<key>class</key>
					<string>BLStringKeyObject</string>
					<key>comment</key>
					<string>Trouble fixer: remove older</string>
					<key>flags</key>
					<integer>1</integer>
					<key>key</key>
					<string>Remove Older Version...</string>
					<key>localizations</key>
					<dict>
						<key>English</key>
						<string>Remove Older Version...</string>
						<key>jp</key>
						<string>古いバージョンを取り除く...</string>
					</dict>
				</dict>
				<dict>
					<key>changeDone</key>
					<false/>
					<key>changed values</key>
					<array/>
					<key>class</key>
					<string>BLStringKeyObject</string>
					<key>comment</key>
					<string>Explain about to install SIMBL</string>
					<key>flags</key>
					<integer>1</integer>
					<key>key</key>
					<string>SIMBL is a library that allows plug-ins, such as Afloat or PithHelmet, to modify other applications. It will be installed in the InputManagers folder of your personal Library.</string>
					<key>localizations</key>
					<dict>
						<key>English</key>
						<string>SIMBL is a library that allows plug-ins, such as Afloat or PithHelmet, to modify other applications. It will be installed in the InputManagers folder of your personal Library.</string>
						<key>jp</key>
						<string>SIMBL は Afloat や PithHelmet のようなプラグインが、他のアプリケーションを修正することを可能にするライブラリです。
これは、ユーザのライブラリの InputManagers フォルダにインストールされます。</string>
					</dict>
				</dict>
				<dict>
					<key>changeDone</key>
					<false/>
					<key>changed values</key>
					<array/>
					<key>class</key>
					<string>BLStringKeyObject</string>
					<key>comment</key>
					<string>About to install SIMBL</string>
					<key>flags</key>
					<integer>1</integer>
					<key>key</key>
					<string>SIMBL is going to be installed. Do you want to continue?</string>
					<key>localizations</key>
					<dict>
						<key>English</key>
						<string>SIMBL is going to be installed. Do you want to continue?</string>
						<key>jp</key>
						<string>SIMBL がインストールされます。続行しますか？</string>
					</dict>
				</dict>
				<dict>
					<key>changeDone</key>
					<false/>
					<key>changed values</key>
					<array/>
					<key>class</key>
					<string>BLStringKeyObject</string>
					<key>comment</key>
					<string>SIMBL not installed</string>
					<key>flags</key>
					<integer>1</integer>
					<key>key</key>
					<string>SIMBL is not installed. Afloat requires SIMBL to work properly.</string>
					<key>localizations</key>
					<dict>
						<key>English</key>
						<string>SIMBL is not installed. Afloat requires SIMBL to work properly.</string>
						<key>jp</key>
						<string>SIMBL はインストールされません。Afloat が適切に動作するためには SIMBL が必要です。</string>
					</dict>
				</dict>
				<dict>
					<key>changeDone</key>
					<false/>
					<key>changed values</key>
					<array/>
					<key>class</key>
					<string>BLStringKeyObject</string>
					<key>comment</key>
					<string>Stay logged in alert button</string>
					<key>flags</key>
					<integer>1</integer>
					<key>key</key>
					<string>Stay Logged In</string>
					<key>localizations</key>
					<dict>
						<key>English</key>
						<string>Stay Logged In</string>
						<key>jp</key>
						<string>Stay Logged In</string>
					</dict>
				</dict>
				<dict>
					<key>changeDone</key>
					<false/>
					<key>changed values</key>
					<array/>
					<key>class</key>
					<string>BLStringKeyObject</string>
					<key>comment</key>
					<string>Alert: can't find the Trash</string>
					<key>flags</key>
					<integer>1</integer>
					<key>key</key>
					<string>There was a problem removing the older version of Afloat.</string>
					<key>localizations</key>
					<dict>
						<key>English</key>
						<string>There was a problem removing the older version of Afloat.</string>
						<key>jp</key>
						<string>Afloat の古いバージョンを取り除くのに失敗しました。</string>
					</dict>
				</dict>
				<dict>
					<key>changeDone</key>
					<false/>
					<key>changed values</key>
					<array/>
					<key>class</key>
					<string>BLStringKeyObject</string>
					<key>comment</key>
					<string>Did update to newer Afloat</string>
					<key>flags</key>
					<integer>1</integer>
					<key>key</key>
					<string>This version of Afloat upgraded a previous version successfully.</string>
					<key>localizations</key>
					<dict>
						<key>English</key>
						<string>This version of Afloat upgraded a previous version successfully.</string>
						<key>jp</key>
						<string>Afloat は、バージョンからのアップグレードに成功しました。</string>
					</dict>
				</dict>
				<dict>
					<key>changeDone</key>
					<false/>
					<key>changed values</key>
					<array/>
					<key>class</key>
					<string>BLStringKeyObject</string>
					<key>comment</key>
					<string>Explain logging out recommended.</string>
					<key>flags</key>
					<integer>1</integer>
					<key>key</key>
					<string>This will ensure that the older version of Afloat is properly removed from your Mac. When you log back in, the new version of Afloat can be enabled from the "Afloat" System Preferences pane.</string>
					<key>localizations</key>
					<dict>
						<key>English</key>
						<string>This will ensure that the older version of Afloat is properly removed from your Mac. When you log back in, the new version of Afloat can be enabled from the "Afloat" System Preferences pane.</string>
						<key>jp</key>
						<string>これは、Afloat の古いバージョンを Mac から適切に取り除きます。再ログインしたあとで、システム環境設定パネルの "Afloat" からAfloatの新しいバージョンを使用可能にできます。</string>
					</dict>
				</dict>
				<dict>
					<key>changeDone</key>
					<false/>
					<key>changed values</key>
					<array/>
					<key>class</key>
					<string>BLStringKeyObject</string>
					<key>comment</key>
					<string>About to install SIMBL: go to web site</string>
					<key>flags</key>
					<integer>1</integer>
					<key>key</key>
					<string>Visit SIMBL web site</string>
					<key>localizations</key>
					<dict>
						<key>English</key>
						<string>Visit SIMBL web site</string>
						<key>jp</key>
						<string>SIMBL のサイトに行く</string>
					</dict>
				</dict>
				<dict>
					<key>changeDone</key>
					<false/>
					<key>changed values</key>
					<array/>
					<key>class</key>
					<string>BLStringKeyObject</string>
					<key>comment</key>
					<string>Welcome</string>
					<key>flags</key>
					<integer>1</integer>
					<key>key</key>
					<string>Welcome to Afloat.</string>
					<key>localizations</key>
					<dict>
						<key>English</key>
						<string>Welcome to Afloat.</string>
						<key>jp</key>
						<string>Afloat へようこそ。</string>
					</dict>
				</dict>
				<dict>
					<key>changeDone</key>
					<false/>
					<key>changed values</key>
					<array/>
					<key>class</key>
					<string>BLStringKeyObject</string>
					<key>comment</key>
					<string>Explain can't install SIMBL.</string>
					<key>flags</key>
					<integer>1</integer>
					<key>key</key>
					<string>You can install SIMBL manually by downloading it from http://culater.net/software/SIMBL/SIMBL.php.</string>
					<key>localizations</key>
					<dict>
						<key>English</key>
						<string>You can install SIMBL manually by downloading it from http://culater.net/software/SIMBL/SIMBL.php.</string>
						<key>jp</key>
						<string>http://culater.net/software/SIMBL/SIMBL.php からダウンロードすることによって、手動で SIMBL をインストールすることができます。</string>
					</dict>
				</dict>
				<dict>
					<key>changeDone</key>
					<false/>
					<key>changed values</key>
					<array/>
					<key>class</key>
					<string>BLStringKeyObject</string>
					<key>comment</key>
					<string>Alert exp: can't find the Trash</string>
					<key>flags</key>
					<integer>1</integer>
					<key>key</key>
					<string>You can remove it manually by searching inside the SIMBL folder, which is found in the Application Support folder of your personal Library.</string>
					<key>localizations</key>
					<dict>
						<key>English</key>
						<string>You can remove it manually by searching inside the SIMBL folder, which is found in the Application Support folder of your personal Library.</string>
						<key>jp</key>
						<string>ユーザライブラリの Application Support フォルダにある SIMBL フォルダの中を探して、手動で取り除くことができます。</string>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>changeDone</key>
			<false/>
			<key>class</key>
			<string>BLNibFileObject</string>
			<key>flags</key>
			<integer>0</integer>
			<key>name</key>
			<string>AfloatPrefPane.nib</string>
			<key>objects</key>
			<array>
				<dict>
					<key>changeDone</key>
					<false/>
					<key>changed values</key>
					<array/>
					<key>class</key>
					<string>BLStringKeyObject</string>
					<key>comment</key>
					<string>NSPanel () : &lt;title:&gt; (oid:23)</string>
					<key>flags</key>
					<integer>1</integer>
					<key>key</key>
					<string></string>
					<key>localizations</key>
					<dict>
						<key>English</key>
						<string></string>
						<key>jp</key>
						<string></string>
					</dict>
				</dict>
				<dict>
					<key>changeDone</key>
					<false/>
					<key>changed values</key>
					<array/>
					<key>class</key>
					<string>BLStringKeyObject</string>
					<key>comment</key>
					<string>NSButton (Agree) : &lt;title:Agree&gt; (oid:29)</string>
					<key>flags</key>
					<integer>1</integer>
					<key>key</key>
					<string>Agree</string>
					<key>localizations</key>
					<dict>
						<key>English</key>
						<string>Agree</string>
						<key>jp</key>
						<string>同意する</string>
					</dict>
				</dict>
				<dict>
					<key>changeDone</key>
					<false/>
					<key>changed values</key>
					<array/>
					<key>class</key>
					<string>BLStringKeyObject</string>
					<key>comment</key>
					<string>NSTextField (An older version of Afloat was found. This version will not be able to work until the older version is removed.) : &lt;title:An older version of Afloat was found. This version will not be able to work until the older version is removed.&gt; (oid:11)</string>
					<key>flags</key>
					<integer>1</integer>
					<key>key</key>
					<string>An older version of Afloat was found. This version will not be able to work until the older version is removed.</string>
					<key>localizations</key>
					<dict>
						<key>English</key>
						<string>An older version of Afloat was found. This version will not be able to work until the older version is removed.</string>
						<key>jp</key>
						<string>Afloat の古いバージョンが存在します。このバージョンは、古いバージョンを取り除くまで動作しません。</string>
					</dict>
				</dict>
				<dict>
					<key>changeDone</key>
					<false/>
					<key>changed values</key>
					<array/>
					<key>class</key>
					<string>BLStringKeyObject</string>
					<key>comment</key>
					<string>NSBox (Box) : &lt;title:Box&gt; (oid:21)</string>
					<key>flags</key>
					<integer>1</integer>
					<key>key</key>
					<string>Box</string>
					<key>localizations</key>
					<dict>
						<key>English</key>
						<string>Box</string>
						<key>jp</key>
						<string>Box</string>
					</dict>
				</dict>
				<dict>
					<key>changeDone</key>
					<false/>
					<key>changed values</key>
					<array/>
					<key>class</key>
					<string>BLStringKeyObject</string>
					<key>comment</key>
					<string>NSButton (Do Not Agree) : &lt;title:Do Not Agree&gt; (oid:30)</string>
					<key>flags</key>
					<integer>1</integer>
					<key>key</key>
					<string>Do Not Agree</string>
					<key>localizations</key>
					<dict>
						<key>English</key>
						<string>Do Not Agree</string>
						<key>jp</key>
						<string>同意しません</string>
					</dict>
				</dict>
				<dict>
					<key>changeDone</key>
					<false/>
					<key>changed values</key>
					<array/>
					<key>class</key>
					<string>BLStringKeyObject</string>
					<key>comment</key>
					<string>NSButton (Enable Afloat) : &lt;title:Enable Afloat&gt; (oid:10)</string>
					<key>flags</key>
					<integer>1</integer>
					<key>key</key>
					<string>Enable Afloat</string>
					<key>localizations</key>
					<dict>
						<key>English</key>
						<string>Enable Afloat</string>
						<key>jp</key>
						<string>Afloat を使用可能にする</string>
					</dict>
				</dict>
				<dict>
					<key>changeDone</key>
					<false/>
					<key>changed values</key>
					<array/>
					<key>class</key>
					<string>BLStringKeyObject</string>
					<key>comment</key>
					<string>NSTextField (Enabling Afloat will only take effect for any applications you launch (or relaunch) after enabling it.) : &lt;title:Enabling Afloat will only take effect for any applications you launch (or relaunch) after enabling it.&gt; (oid:13)</string>
					<key>flags</key>
					<integer>1</integer>
					<key>key</key>
					<string>Enabling Afloat will only take effect for any applications you launch (or relaunch) after enabling it.</string>
					<key>localizations</key>
					<dict>
						<key>English</key>
						<string>Enabling Afloat will only take effect for any applications you launch (or relaunch) after enabling it.</string>
						<key>jp</key>
						<string>Afloat を有効にした後に起動（再起動）したアプリケーションで効果は有効になります。</string>
					</dict>
				</dict>
				<dict>
					<key>changeDone</key>
					<false/>
					<key>changed values</key>
					<array/>
					<key>class</key>
					<string>BLStringKeyObject</string>
					<key>comment</key>
					<string>NSTextField (If you don't agree, then you will not be able to use Afloat.) : &lt;title:If you don't agree, then you will not be able to use Afloat.&gt; (oid:28)</string>
					<key>flags</key>
					<integer>1</integer>
					<key>key</key>
					<string>If you don't agree, then you will not be able to use Afloat.</string>
					<key>localizations</key>
					<dict>
						<key>English</key>
						<string>If you don't agree, then you will not be able to use Afloat.</string>
						<key>jp</key>
						<string>同意しない場合は、Afloat を使用することはできません。</string>
					</dict>
				</dict>
				<dict>
					<key>changeDone</key>
					<false/>
					<key>changed values</key>
					<array/>
					<key>class</key>
					<string>BLStringKeyObject</string>
					<key>comment</key>
					<string>NSButton (Remove Older Version…) : &lt;title:Remove Older Version…&gt; (oid:12)</string>
					<key>flags</key>
					<integer>1</integer>
					<key>key</key>
					<string>Remove Older Version…</string>
					<key>localizations</key>
					<dict>
						<key>English</key>
						<string>Remove Older Version…</string>
						<key>jp</key>
						<string>古いバージョンを取り除く…</string>
					</dict>
				</dict>
				<dict>
					<key>changeDone</key>
					<false/>
					<key>changed values</key>
					<array/>
					<key>class</key>
					<string>BLStringKeyObject</string>
					<key>comment</key>
					<string>NSTextField (The use of Afloat and other included components is regulated by a license agreement.) : &lt;title:The use of Afloat and other included components is regulated by a license agreement.&gt; (oid:25)</string>
					<key>flags</key>
					<integer>1</integer>
					<key>key</key>
					<string>The use of Afloat and other included components is regulated by a license agreement.</string>
					<key>localizations</key>
					<dict>
						<key>English</key>
						<string>The use of Afloat and other included components is regulated by a license agreement.</string>
						<key>jp</key>
						<string>Afloat およびその他の含まれるコンポーネントの使用は、使用許諾契約によって規制されます。</string>
					</dict>
				</dict>
				<dict>
					<key>changeDone</key>
					<false/>
					<key>changed values</key>
					<array/>
					<key>class</key>
					<string>BLStringKeyObject</string>
					<key>comment</key>
					<string>NSWindow (Window) : &lt;title:Window&gt; (oid:5)</string>
					<key>flags</key>
					<integer>1</integer>
					<key>key</key>
					<string>Window</string>
					<key>localizations</key>
					<dict>
						<key>English</key>
						<string>Window</string>
						<key>jp</key>
						<string>ウインドウ</string>
					</dict>
				</dict>
			</array>
			<key>old objects</key>
			<array>
				<dict>
					<key>changeDone</key>
					<false/>
					<key>changed values</key>
					<array/>
					<key>class</key>
					<string>BLStringKeyObject</string>
					<key>comment</key>
					<string>NSPanel () : &lt;title:&gt; (oid:23)</string>
					<key>flags</key>
					<integer>1</integer>
					<key>key</key>
					<string></string>
					<key>localizations</key>
					<dict>
						<key>English</key>
						<string></string>
						<key>jp</key>
						<string></string>
					</dict>
				</dict>
				<dict>
					<key>changeDone</key>
					<false/>
					<key>changed values</key>
					<array/>
					<key>class</key>
					<string>BLStringKeyObject</string>
					<key>comment</key>
					<string>NSButton (Agree) : &lt;title:Agree&gt; (oid:29)</string>
					<key>flags</key>
					<integer>1</integer>
					<key>key</key>
					<string>Agree</string>
					<key>localizations</key>
					<dict>
						<key>English</key>
						<string>Agree</string>
						<key>jp</key>
						<string>同意する</string>
					</dict>
				</dict>
				<dict>
					<key>changeDone</key>
					<false/>
					<key>changed values</key>
					<array/>
					<key>class</key>
					<string>BLStringKeyObject</string>
					<key>comment</key>
					<string>NSTextField (An older version of Afloat was found. This version will not be able to work until the older version is removed.) : &lt;title:An older version of Afloat was found. This version will not be able to work until the older version is removed.&gt; (oid:11)</string>
					<key>flags</key>
					<integer>1</integer>
					<key>key</key>
					<string>An older version of Afloat was found. This version will not be able to work until the older version is removed.</string>
					<key>localizations</key>
					<dict>
						<key>English</key>
						<string>An older version of Afloat was found. This version will not be able to work until the older version is removed.</string>
						<key>jp</key>
						<string>Afloat の古いバージョンが存在します。このバージョンは、古いバージョンを取り除くまで動作しません。</string>
					</dict>
				</dict>
				<dict>
					<key>changeDone</key>
					<false/>
					<key>changed values</key>
					<array/>
					<key>class</key>
					<string>BLStringKeyObject</string>
					<key>comment</key>
					<string>NSBox (Box) : &lt;title:Box&gt; (oid:21)</string>
					<key>flags</key>
					<integer>1</integer>
					<key>key</key>
					<string>Box</string>
					<key>localizations</key>
					<dict>
						<key>English</key>
						<string>Box</string>
						<key>jp</key>
						<string>Box</string>
					</dict>
				</dict>
				<dict>
					<key>changeDone</key>
					<false/>
					<key>changed values</key>
					<array/>
					<key>class</key>
					<string>BLStringKeyObject</string>
					<key>comment</key>
					<string>NSButton (Do Not Agree) : &lt;title:Do Not Agree&gt; (oid:30)</string>
					<key>flags</key>
					<integer>1</integer>
					<key>key</key>
					<string>Do Not Agree</string>
					<key>localizations</key>
					<dict>
						<key>English</key>
						<string>Do Not Agree</string>
						<key>jp</key>
						<string>同意しません</string>
					</dict>
				</dict>
				<dict>
					<key>changeDone</key>
					<false/>
					<key>changed values</key>
					<array/>
					<key>class</key>
					<string>BLStringKeyObject</string>
					<key>comment</key>
					<string>NSButton (Enable Afloat) : &lt;title:Enable Afloat&gt; (oid:10)</string>
					<key>flags</key>
					<integer>1</integer>
					<key>key</key>
					<string>Enable Afloat</string>
					<key>localizations</key>
					<dict>
						<key>English</key>
						<string>Enable Afloat</string>
						<key>jp</key>
						<string>Afloat を使用可能にする</string>
					</dict>
				</dict>
				<dict>
					<key>changeDone</key>
					<false/>
					<key>changed values</key>
					<array/>
					<key>class</key>
					<string>BLStringKeyObject</string>
					<key>comment</key>
					<string>NSTextField (Enabling Afloat will only take effect for any applications you launch (or relaunch) after enabling it.) : &lt;title:Enabling Afloat will only take effect for any applications you launch (or relaunch) after enabling it.&gt; (oid:13)</string>
					<key>flags</key>
					<integer>1</integer>
					<key>key</key>
					<string>Enabling Afloat will only take effect for any applications you launch (or relaunch) after enabling it.</string>
					<key>localizations</key>
					<dict>
						<key>English</key>
						<string>Enabling Afloat will only take effect for any applications you launch (or relaunch) after enabling it.</string>
						<key>jp</key>
						<string>Afloat を有効にした後に起動（再起動）したアプリケーションで効果は有効になります。</string>
					</dict>
				</dict>
				<dict>
					<key>changeDone</key>
					<false/>
					<key>changed values</key>
					<array/>
					<key>class</key>
					<string>BLStringKeyObject</string>
					<key>comment</key>
					<string>NSTextField (If you don't agree, then you will not be able to use Afloat.) : &lt;title:If you don't agree, then you will not be able to use Afloat.&gt; (oid:28)</string>
					<key>flags</key>
					<integer>1</integer>
					<key>key</key>
					<string>If you don't agree, then you will not be able to use Afloat.</string>
					<key>localizations</key>
					<dict>
						<key>English</key>
						<string>If you don't agree, then you will not be able to use Afloat.</string>
						<key>jp</key>
						<string>同意しない場合は、Afloat を使用することはできません。</string>
					</dict>
				</dict>
				<dict>
					<key>changeDone</key>
					<false/>
					<key>changed values</key>
					<array/>
					<key>class</key>
					<string>BLStringKeyObject</string>
					<key>comment</key>
					<string>NSButton (Remove Older Version…) : &lt;title:Remove Older Version…&gt; (oid:12)</string>
					<key>flags</key>
					<integer>1</integer>
					<key>key</key>
					<string>Remove Older Version…</string>
					<key>localizations</key>
					<dict>
						<key>English</key>
						<string>Remove Older Version…</string>
						<key>jp</key>
						<string>古いバージョンを取り除く…</string>
					</dict>
				</dict>
				<dict>
					<key>changeDone</key>
					<false/>
					<key>changed values</key>
					<array/>
					<key>class</key>
					<string>BLStringKeyObject</string>
					<key>comment</key>
					<string>NSTextField (The use of Afloat and other included components is regulated by a license agreement.) : &lt;title:The use of Afloat and other included components is regulated by a license agreement.&gt; (oid:25)</string>
					<key>flags</key>
					<integer>1</integer>
					<key>key</key>
					<string>The use of Afloat and other included components is regulated by a license agreement.</string>
					<key>localizations</key>
					<dict>
						<key>English</key>
						<string>The use of Afloat and other included components is regulated by a license agreement.</string>
						<key>jp</key>
						<string>Afloat およびその他の含まれるコンポーネントの使用は、使用許諾契約によって規制されます。</string>
					</dict>
				</dict>
				<dict>
					<key>changeDone</key>
					<false/>
					<key>changed values</key>
					<array/>
					<key>class</key>
					<string>BLStringKeyObject</string>
					<key>comment</key>
					<string>NSWindow (Window) : &lt;title:Window&gt; (oid:5)</string>
					<key>flags</key>
					<integer>1</integer>
					<key>key</key>
					<string>Window</string>
					<key>localizations</key>
					<dict>
						<key>English</key>
						<string>Window</string>
						<key>jp</key>
						<string>ウインドウ</string>
					</dict>
				</dict>
			</array>
		</dict>
	</array>
	<key>languages</key>
	<array>
		<string>English</string>
		<string>jp</string>
	</array>
	<key>reference language</key>
	<string>English</string>
</dict>
</plist>
