<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>files</key>
	<array>
		<dict>
			<key>changeDone</key>
			<false/>
			<key>class</key>
			<string>BLNibFileObject</string>
			<key>flags</key>
			<integer>1</integer>
			<key>name</key>
			<string>AfloatMenuCommands.nib</string>
			<key>objects</key>
			<array>
				<dict>
					<key>changeDone</key>
					<false/>
					<key>changed values</key>
					<array/>
					<key>class</key>
					<string>BLStringKeyObject</string>
					<key>comment</key>
					<string>NSMenuItem : &lt;title:Almost Invisible&gt; (oid:27)</string>
					<key>flags</key>
					<integer>0</integer>
					<key>key</key>
					<string>Almost Invisible</string>
					<key>localizations</key>
					<dict>
						<key>English</key>
						<string>Almost Invisible</string>
						<key>it</key>
						<string>Quasi invisibile</string>
					</dict>
				</dict>
				<dict>
					<key>changeDone</key>
					<false/>
					<key>changed values</key>
					<array/>
					<key>class</key>
					<string>BLStringKeyObject</string>
					<key>comment</key>
					<string>NSMenuItem : &lt;title:Always on Top&gt; (oid:32)</string>
					<key>flags</key>
					<integer>0</integer>
					<key>key</key>
					<string>Always on Top</string>
					<key>localizations</key>
					<dict>
						<key>English</key>
						<string>Always on Top</string>
						<key>it</key>
						<string>Sempre in primo piano</string>
					</dict>
				</dict>
				<dict>
					<key>changeDone</key>
					<false/>
					<key>changed values</key>
					<array/>
					<key>class</key>
					<string>BLStringKeyObject</string>
					<key>comment</key>
					<string>NSMenuItem : &lt;title:Choose…&gt; (oid:24)</string>
					<key>flags</key>
					<integer>0</integer>
					<key>key</key>
					<string>Choose…</string>
					<key>localizations</key>
					<dict>
						<key>English</key>
						<string>Choose…</string>
						<key>it</key>
						<string>Scegli…</string>
					</dict>
				</dict>
				<dict>
					<key>changeDone</key>
					<false/>
					<key>changed values</key>
					<array/>
					<key>class</key>
					<string>BLStringKeyObject</string>
					<key>comment</key>
					<string>NSMenuItem : &lt;title:Fully Opaque&gt; (oid:23)</string>
					<key>flags</key>
					<integer>0</integer>
					<key>key</key>
					<string>Fully Opaque</string>
					<key>localizations</key>
					<dict>
						<key>English</key>
						<string>Fully Opaque</string>
						<key>it</key>
						<string>Opaca</string>
					</dict>
				</dict>
				<dict>
					<key>changeDone</key>
					<false/>
					<key>changed values</key>
					<array/>
					<key>class</key>
					<string>BLStringKeyObject</string>
					<key>comment</key>
					<string>NSMenuItem : &lt;title:Keep Afloat&gt; (oid:6)</string>
					<key>flags</key>
					<integer>0</integer>
					<key>key</key>
					<string>Keep Afloat</string>
					<key>localizations</key>
					<dict>
						<key>English</key>
						<string>Keep Afloat</string>
						<key>it</key>
						<string>Fluttuante</string>
					</dict>
				</dict>
				<dict>
					<key>changeDone</key>
					<false/>
					<key>changed values</key>
					<array/>
					<key>class</key>
					<string>BLStringKeyObject</string>
					<key>comment</key>
					<string>NSMenu : &lt;title:Menu&gt; (oid:5)</string>
					<key>flags</key>
					<integer>0</integer>
					<key>key</key>
					<string>Menu</string>
					<key>localizations</key>
					<dict>
						<key>English</key>
						<string>Menu</string>
						<key>it</key>
						<string>Menu</string>
					</dict>
				</dict>
				<dict>
					<key>changeDone</key>
					<false/>
					<key>changed values</key>
					<array/>
					<key>class</key>
					<string>BLStringKeyObject</string>
					<key>comment</key>
					<string>NSMenuItem : &lt;title:Translucid&gt; (oid:26)</string>
					<key>flags</key>
					<integer>0</integer>
					<key>key</key>
					<string>Translucid</string>
					<key>localizations</key>
					<dict>
						<key>English</key>
						<string>Translucid</string>
						<key>it</key>
						<string>Traslucida</string>
					</dict>
				</dict>
				<dict>
					<key>changeDone</key>
					<false/>
					<key>changed values</key>
					<array/>
					<key>class</key>
					<string>BLStringKeyObject</string>
					<key>comment</key>
					<string>NSMenu : &lt;title:Transparency&gt; (oid:22)</string>
					<key>flags</key>
					<integer>0</integer>
					<key>key</key>
					<string>Transparency</string>
					<key>localizations</key>
					<dict>
						<key>English</key>
						<string>Transparency</string>
						<key>it</key>
						<string>Trasparenza</string>
					</dict>
				</dict>
				<dict>
					<key>changeDone</key>
					<false/>
					<key>changed values</key>
					<array/>
					<key>class</key>
					<string>BLStringKeyObject</string>
					<key>comment</key>
					<string>NSMenuItem : &lt;title:Less Transparent&gt; (oid:38)</string>
					<key>flags</key>
					<integer>1</integer>
					<key>key</key>
					<string>Less Transparent</string>
					<key>localizations</key>
					<dict>
						<key>English</key>
						<string>Less Transparent</string>
						<key>it</key>
						<string>Meno Trasparente</string>
					</dict>
				</dict>
				<dict>
					<key>changeDone</key>
					<false/>
					<key>changed values</key>
					<array/>
					<key>class</key>
					<string>BLStringKeyObject</string>
					<key>comment</key>
					<string>NSMenuItem : &lt;title:More Transparent&gt; (oid:37)</string>
					<key>flags</key>
					<integer>1</integer>
					<key>key</key>
					<string>More Transparent</string>
					<key>localizations</key>
					<dict>
						<key>English</key>
						<string>More Transparent</string>
						<key>it</key>
						<string>Più Trasparente</string>
					</dict>
				</dict>
			</array>
			<key>old objects</key>
			<array>
				<dict>
					<key>changeDone</key>
					<false/>
					<key>changed values</key>
					<array/>
					<key>class</key>
					<string>BLStringKeyObject</string>
					<key>comment</key>
					<string>NSMenuItem : &lt;title:Almost Invisible&gt; (oid:27)</string>
					<key>flags</key>
					<integer>0</integer>
					<key>key</key>
					<string>Almost Invisible</string>
					<key>localizations</key>
					<dict>
						<key>English</key>
						<string>Almost Invisible</string>
						<key>it</key>
						<string>Quasi invisibile</string>
					</dict>
				</dict>
				<dict>
					<key>changeDone</key>
					<false/>
					<key>changed values</key>
					<array/>
					<key>class</key>
					<string>BLStringKeyObject</string>
					<key>comment</key>
					<string>NSMenuItem : &lt;title:Always on Top&gt; (oid:32)</string>
					<key>flags</key>
					<integer>0</integer>
					<key>key</key>
					<string>Always on Top</string>
					<key>localizations</key>
					<dict>
						<key>English</key>
						<string>Always on Top</string>
						<key>it</key>
						<string>Sempre in primo piano</string>
					</dict>
				</dict>
				<dict>
					<key>changeDone</key>
					<false/>
					<key>changed values</key>
					<array/>
					<key>class</key>
					<string>BLStringKeyObject</string>
					<key>comment</key>
					<string>NSMenuItem : &lt;title:Choose…&gt; (oid:24)</string>
					<key>flags</key>
					<integer>0</integer>
					<key>key</key>
					<string>Choose…</string>
					<key>localizations</key>
					<dict>
						<key>English</key>
						<string>Choose…</string>
						<key>it</key>
						<string>Scegli…</string>
					</dict>
				</dict>
				<dict>
					<key>changeDone</key>
					<false/>
					<key>changed values</key>
					<array/>
					<key>class</key>
					<string>BLStringKeyObject</string>
					<key>comment</key>
					<string>NSMenuItem : &lt;title:Fully Opaque&gt; (oid:23)</string>
					<key>flags</key>
					<integer>0</integer>
					<key>key</key>
					<string>Fully Opaque</string>
					<key>localizations</key>
					<dict>
						<key>English</key>
						<string>Fully Opaque</string>
						<key>it</key>
						<string>Opaca</string>
					</dict>
				</dict>
				<dict>
					<key>changeDone</key>
					<false/>
					<key>changed values</key>
					<array/>
					<key>class</key>
					<string>BLStringKeyObject</string>
					<key>comment</key>
					<string>NSMenuItem : &lt;title:Keep Afloat&gt; (oid:6)</string>
					<key>flags</key>
					<integer>0</integer>
					<key>key</key>
					<string>Keep Afloat</string>
					<key>localizations</key>
					<dict>
						<key>English</key>
						<string>Keep Afloat</string>
						<key>it</key>
						<string>Fluttuante</string>
					</dict>
				</dict>
				<dict>
					<key>changeDone</key>
					<false/>
					<key>changed values</key>
					<array/>
					<key>class</key>
					<string>BLStringKeyObject</string>
					<key>comment</key>
					<string>NSMenu : &lt;title:Menu&gt; (oid:5)</string>
					<key>flags</key>
					<integer>0</integer>
					<key>key</key>
					<string>Menu</string>
					<key>localizations</key>
					<dict>
						<key>English</key>
						<string>Menu</string>
						<key>it</key>
						<string>Menu</string>
					</dict>
				</dict>
				<dict>
					<key>changeDone</key>
					<false/>
					<key>changed values</key>
					<array/>
					<key>class</key>
					<string>BLStringKeyObject</string>
					<key>comment</key>
					<string>NSMenuItem : &lt;title:Translucid&gt; (oid:26)</string>
					<key>flags</key>
					<integer>0</integer>
					<key>key</key>
					<string>Translucid</string>
					<key>localizations</key>
					<dict>
						<key>English</key>
						<string>Translucid</string>
						<key>it</key>
						<string>Traslucida</string>
					</dict>
				</dict>
				<dict>
					<key>changeDone</key>
					<false/>
					<key>changed values</key>
					<array/>
					<key>class</key>
					<string>BLStringKeyObject</string>
					<key>comment</key>
					<string>NSMenu : &lt;title:Transparency&gt; (oid:22)</string>
					<key>flags</key>
					<integer>0</integer>
					<key>key</key>
					<string>Transparency</string>
					<key>localizations</key>
					<dict>
						<key>English</key>
						<string>Transparency</string>
						<key>it</key>
						<string>Trasparenza</string>
					</dict>
				</dict>
				<dict>
					<key>changeDone</key>
					<false/>
					<key>changed values</key>
					<array/>
					<key>class</key>
					<string>BLStringKeyObject</string>
					<key>comment</key>
					<string>NSMenuItem : &lt;title:Less Transparent&gt; (oid:38)</string>
					<key>flags</key>
					<integer>1</integer>
					<key>key</key>
					<string>Less Transparent</string>
					<key>localizations</key>
					<dict>
						<key>English</key>
						<string>Less Transparent</string>
						<key>it</key>
						<string>Meno Trasparente</string>
					</dict>
				</dict>
				<dict>
					<key>changeDone</key>
					<false/>
					<key>changed values</key>
					<array/>
					<key>class</key>
					<string>BLStringKeyObject</string>
					<key>comment</key>
					<string>NSMenuItem : &lt;title:More Transparent&gt; (oid:37)</string>
					<key>flags</key>
					<integer>1</integer>
					<key>key</key>
					<string>More Transparent</string>
					<key>localizations</key>
					<dict>
						<key>English</key>
						<string>More Transparent</string>
						<key>it</key>
						<string>Più Trasparente</string>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>changeDone</key>
			<false/>
			<key>class</key>
			<string>BLStringsFileObject</string>
			<key>flags</key>
			<integer>0</integer>
			<key>name</key>
			<string>InfoPlist.strings</string>
			<key>objects</key>
			<array>
				<dict>
					<key>changeDone</key>
					<false/>
					<key>changed values</key>
					<array/>
					<key>class</key>
					<string>BLStringKeyObject</string>
					<key>comment</key>
					<string>Localized versions of Info.plist keys</string>
					<key>flags</key>
					<integer>0</integer>
					<key>key</key>
					<string>NSHumanReadableCopyright</string>
					<key>localizations</key>
					<dict>
						<key>English</key>
						<string>© Emanuele Vulcano, 2006</string>
						<key>it</key>
						<string></string>
					</dict>
				</dict>
			</array>
			<key>old objects</key>
			<array>
				<dict>
					<key>changeDone</key>
					<false/>
					<key>changed values</key>
					<array/>
					<key>class</key>
					<string>BLStringKeyObject</string>
					<key>comment</key>
					<string>Localized versions of Info.plist keys</string>
					<key>flags</key>
					<integer>0</integer>
					<key>key</key>
					<string>NSHumanReadableCopyright</string>
					<key>localizations</key>
					<dict>
						<key>English</key>
						<string>© Emanuele Vulcano, 2006</string>
						<key>it</key>
						<string></string>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>changeDone</key>
			<false/>
			<key>class</key>
			<string>BLNibFileObject</string>
			<key>flags</key>
			<integer>0</integer>
			<key>name</key>
			<string>Transparency.nib</string>
			<key>objects</key>
			<array>
				<dict>
					<key>changeDone</key>
					<false/>
					<key>changed values</key>
					<array/>
					<key>class</key>
					<string>BLStringKeyObject</string>
					<key>comment</key>
					<string>NSTextField (Almost invisible) : &lt;title:Almost invisible&gt; (oid:12)</string>
					<key>flags</key>
					<integer>0</integer>
					<key>key</key>
					<string>Almost invisible</string>
					<key>localizations</key>
					<dict>
						<key>English</key>
						<string>Almost invisible</string>
						<key>it</key>
						<string>Quasi invisibile</string>
					</dict>
				</dict>
				<dict>
					<key>changeDone</key>
					<false/>
					<key>changed values</key>
					<array/>
					<key>class</key>
					<string>BLStringKeyObject</string>
					<key>comment</key>
					<string>NSTextField (Fully opaque) : &lt;title:Fully opaque&gt; (oid:11)</string>
					<key>flags</key>
					<integer>0</integer>
					<key>key</key>
					<string>Fully opaque</string>
					<key>localizations</key>
					<dict>
						<key>English</key>
						<string>Fully opaque</string>
						<key>it</key>
						<string>Opaca</string>
					</dict>
				</dict>
				<dict>
					<key>changeDone</key>
					<false/>
					<key>changed values</key>
					<array/>
					<key>class</key>
					<string>BLStringKeyObject</string>
					<key>comment</key>
					<string>NSButton (OK) : &lt;title:OK&gt; (oid:14)</string>
					<key>flags</key>
					<integer>0</integer>
					<key>key</key>
					<string>OK</string>
					<key>localizations</key>
					<dict>
						<key>English</key>
						<string>OK</string>
						<key>it</key>
						<string>OK</string>
					</dict>
				</dict>
				<dict>
					<key>changeDone</key>
					<false/>
					<key>changed values</key>
					<array/>
					<key>class</key>
					<string>BLStringKeyObject</string>
					<key>comment</key>
					<string>NSPanel (Panel) : &lt;title:Panel&gt; (oid:7)</string>
					<key>flags</key>
					<integer>0</integer>
					<key>key</key>
					<string>Panel</string>
					<key>localizations</key>
					<dict>
						<key>English</key>
						<string>Panel</string>
						<key>it</key>
						<string>Pannello</string>
					</dict>
				</dict>
				<dict>
					<key>changeDone</key>
					<false/>
					<key>changed values</key>
					<array/>
					<key>class</key>
					<string>BLStringKeyObject</string>
					<key>comment</key>
					<string>NSTextField (Transparency for this window:) : &lt;title:Transparency for this window:&gt; (oid:9)</string>
					<key>flags</key>
					<integer>0</integer>
					<key>key</key>
					<string>Transparency for this window:</string>
					<key>localizations</key>
					<dict>
						<key>English</key>
						<string>Transparency for this window:</string>
						<key>it</key>
						<string>Trasparenza di questa finestra:</string>
					</dict>
				</dict>
			</array>
			<key>old objects</key>
			<array>
				<dict>
					<key>changeDone</key>
					<false/>
					<key>changed values</key>
					<array/>
					<key>class</key>
					<string>BLStringKeyObject</string>
					<key>comment</key>
					<string>NSTextField (Almost invisible) : &lt;title:Almost invisible&gt; (oid:12)</string>
					<key>flags</key>
					<integer>0</integer>
					<key>key</key>
					<string>Almost invisible</string>
					<key>localizations</key>
					<dict>
						<key>English</key>
						<string>Almost invisible</string>
						<key>it</key>
						<string>Quasi invisibile</string>
					</dict>
				</dict>
				<dict>
					<key>changeDone</key>
					<false/>
					<key>changed values</key>
					<array/>
					<key>class</key>
					<string>BLStringKeyObject</string>
					<key>comment</key>
					<string>NSTextField (Fully opaque) : &lt;title:Fully opaque&gt; (oid:11)</string>
					<key>flags</key>
					<integer>0</integer>
					<key>key</key>
					<string>Fully opaque</string>
					<key>localizations</key>
					<dict>
						<key>English</key>
						<string>Fully opaque</string>
						<key>it</key>
						<string>Opaca</string>
					</dict>
				</dict>
				<dict>
					<key>changeDone</key>
					<false/>
					<key>changed values</key>
					<array/>
					<key>class</key>
					<string>BLStringKeyObject</string>
					<key>comment</key>
					<string>NSButton (OK) : &lt;title:OK&gt; (oid:14)</string>
					<key>flags</key>
					<integer>0</integer>
					<key>key</key>
					<string>OK</string>
					<key>localizations</key>
					<dict>
						<key>English</key>
						<string>OK</string>
						<key>it</key>
						<string>OK</string>
					</dict>
				</dict>
				<dict>
					<key>changeDone</key>
					<false/>
					<key>changed values</key>
					<array/>
					<key>class</key>
					<string>BLStringKeyObject</string>
					<key>comment</key>
					<string>NSPanel (Panel) : &lt;title:Panel&gt; (oid:7)</string>
					<key>flags</key>
					<integer>0</integer>
					<key>key</key>
					<string>Panel</string>
					<key>localizations</key>
					<dict>
						<key>English</key>
						<string>Panel</string>
						<key>it</key>
						<string>Pannello</string>
					</dict>
				</dict>
				<dict>
					<key>changeDone</key>
					<false/>
					<key>changed values</key>
					<array/>
					<key>class</key>
					<string>BLStringKeyObject</string>
					<key>comment</key>
					<string>NSTextField (Transparency for this window:) : &lt;title:Transparency for this window:&gt; (oid:9)</string>
					<key>flags</key>
					<integer>0</integer>
					<key>key</key>
					<string>Transparency for this window:</string>
					<key>localizations</key>
					<dict>
						<key>English</key>
						<string>Transparency for this window:</string>
						<key>it</key>
						<string>Trasparenza di questa finestra:</string>
					</dict>
				</dict>
			</array>
		</dict>
	</array>
	<key>languages</key>
	<array>
		<string>English</string>
		<string>it</string>
	</array>
	<key>reference language</key>
	<string>English</string>
	<key>supports preview</key>
	<true/>
</dict>
</plist>
